[2020-08-07 21:55] Zarys26 opened #457 "Suggestion: Zonage de Jeux Vidéos / Video Game Zoning"
Voici l'idée.
Les jeux sont zonés selon les endroits du monde par rapport aux consoles. Les consoles ont les 3 zones mais avec un pourcentage différent. (le pourcentage pourrait changer selon le nombre de jeux zonés)
Comme tout le monde le sais, chaque zone n'ont pas le même nombre de joueurs.
Le pourcentage c'est le nombre de joueurs par zone de la console et au total se sera toujours 100% max.

[2020-08-08 21:25] Neosphaler commented on #457
And of course we need the capability to port PAL games to NTSC or SECAM, maybe with restrictions (in term of public and 18+games like in asiatic country) !

[2020-08-08 21:33] Zarys26 commented on #457
The age brackets already exist in the game. Young, General Public, Adult (I know if that's it)
After if it's to synchronize this idea with the age groups I think it's possible but it all depends on bino.

[2020-08-08 23:34] ryanbis opened #458 "Can't release game port"
**Describe the bug**
Ported a game, and it finished, and shows the Release button, but does nothing when clicked.

**To Reproduce**
Just happened randomly in the middle of a game. This is the first time I've run into this.

**Expected behavior**
The game should get released when you click the release button.

Save file:
[49922448-9020-4080-4060-9ad7ba616b24.zip](https://github.com/binogure-studio/

[2020-08-08 23:39] Neosphaler commented on #457
You got me, some games get content-cut in America or Japan as they don't tolerate blood or these kind of things.

[2020-08-10 08:52] xsellier commented on #456
Closing, duplicate of:
https://github.com/binogure-studio/city-game-studio-i18n/issues/231

[2020-08-10 08:52] #456 closed, assigned to xsellier

[2020-08-13 01:37] Saputo228 opened #459 "Suggestion: Release Button and Market"
**Is your feature request related to a problem? Please describe.**
Are you able to add a Release Button and also allow people to Market there Expansions to MMO's?

Also, can you add Buying IP's from other companies?

Doing this would help bring back old fans and also maybe help reboot old MMO's

Like if you bought an IP from a Company and Remastered it as a new release this would be a really good

[2020-08-13 15:55] rgosik opened #460 "Suggestion: Rework staff progression"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when, my staff reach the limit of their potential and I have to fire the ones I have worked with from the begining because they cant progress any further. Hiring anybody that is not maxed on potential in at least 2 fields feels very unsatisfying

**Describe the solution you'd like**
Replace the limit for Design, Deve

[2020-08-13 19:18] xsellier commented on #460
This is an interesting suggestion, but I though it would be better if we can have universities to train our staff. At least one university per map, and each would have their specialty. I can ellaborate because I haven't started working on it.

[2020-08-15 12:11] xsellier commented on #231
Duplicate of https://github.com/binogure-studio/city-game-studio-i18n/issues/431

[2020-08-15 12:11] #231 closed, assigned to xsellier

[2020-08-15 12:13] xsellier commented on #398
Implemented in v0.31.3

[2020-08-15 12:13] #398 closed, assigned to xsellier

[2020-08-15 12:14] xsellier commented on #389
Implemented in v0.31.3

[2020-08-15 12:14] #389 closed, assigned to xsellier

[2020-08-15 12:15] xsellier commented on #311
Implemented in v0.31.3

[2020-08-15 12:15] #311 closed, assigned to xsellier

[2020-08-15 12:20] xsellier commented on #190
Expansion is now a duplicate of https://github.com/binogure-studio/city-game-studio-i18n/issues/305

[2020-08-15 12:20] #190 closed, assigned to xsellier

[2020-08-15 17:49] xsellier commented on #458
Fixed in v0.31.3

[2020-08-15 17:49] #458 closed, assigned to xsellier

[2020-08-18 18:18] Saputo228 opened #461 "Suggestion: Acquire IPs"
When you buy a company can you make it so you acquire there IPs as well?

Doing this would allow you to get game of year games, if they won the title, and also be able to keep making there games they already made.

Or allow companies to buy and sell there IP's to other companies.

I also would suggest tossing some small indie companies in the mix as well, during the mid-2000s that can be bought as

[2020-08-18 18:27] xsellier commented on #461
Duplicate of https://github.com/binogure-studio/city-game-studio-i18n/issues/97

[2020-08-18 18:27] #461 closed, assigned to xsellier

[2020-08-18 18:28] xsellier commented on #459
Duplicate of:
- https://github.com/binogure-studio/city-game-studio-i18n/issues/97
- https://github.com/binogure-studio/city-game-studio-i18n/issues/399
- https://github.com/binogure-studio/city-game-studio-i18n/issues/351

[2020-08-18 18:28] #459 closed, assigned to xsellier

[2020-08-18 19:46] Habiboy-Ark opened #462 "Suggestions: List of suggestions"
INTRO:Iam Habiboy And Iam Very Hype With Tycoon/Stagegy Game
Opening:We want Make Ur game Best Ever Game Tycoon 2020
[code]
So We Will Start The Suggestions Features and Improvement
---------------------
City Game Studio (CGS)
It's Great Game Have A Complex, Sistem And Still _good_ The mechanical The Backsound to It's Very nice,
I'm excited about Backsound. It's already a feature of Game CGS About

[2020-08-21 07:56] xsellier commented on #450
Implemvent in v0.31.4

[2020-08-21 07:56] #450 closed, assigned to xsellier

[2020-08-23 16:42] Loivado commented on #409
push

I found it annyoing to micro manage the people and offices that I overtook. To simply put them on endless mode for a series would be beneficial of the gameflow **or** just disband all of their belongings to get rid of the competitor overall.

[2020-08-28 17:57] xsellier opened #464 "Suggestion: Game size impacts the game content"
When creating a game, we can add, if it is a RPG game for example, some maps and then for an Indie game implements only 2 maps, but for a bigger game implements more then 10 maps.

So, with the game engine features, we could also have CPU/GPU points but also _game sizes_ points. allowing bigger games to better use the engine

[2020-09-01 22:57] fredmion opened #465 "Suggestion: Pitch games to publishers"
you would be able to pitch a game already in development to a publisher, and depending on a few factors (how far along it is, your companies rating etc) they'll either take the offer to publish it or deny it.

This would be different than the way publishing currently works since you would be able to pick the genre and theme of the game which you can't do with the current publishing system.

[2020-09-02 20:01] TheOnlyGaming90 opened #466 "Suggestion: Stop using github"
**Is your feature request related to a problem? Please describe.**
Github is a stupid website that you have to sign up for AND verify your email, if you didn't use github you would get more feature requests therefore you would have a better game.

**Describe the solution you'd like**
Use a different thingy for suggestions

**Describe alternatives you've considered**
You can use discord instead. Li

[2020-09-02 20:02] xsellier commented on #466
I'm using github because I want to track down all the suggestions made, and also because github has the following features:
- Flag a suggestion as a bug
- Flag a suggestion as duplicated
- Add screenshot to the suggestion
- List all closed/opened suggestions
- Filter suggestions by type

[2020-09-02 20:02] #466 closed, assigned to xsellier

[2020-09-04 02:13] DioManquicio commented on #434
Google Translate Used:

That would be nice, but also if the game goes wrong, either giving refunds and losing a number of fans. Also, if you refuse to give a refund, you will lose even more fans.

[2020-09-04 07:46] xsellier opened #467 "Suggestion: Unassign all the employees"
Being able to unassign all the employee by cliking on a single button

[2020-09-05 04:10] DioManquicio opened #468 "Question: Multiplatform?"
One question, I saw that in a question I mentioned the developer, about the multiplatform for the development of video games from a certain time, but I have the doubt if it is definitive that it was implemented in the game or it was only a possibility.

Translated with the google translator, sorry for the bad english

[2020-09-10 02:48] DioManquicio opened #469 "Suggestion: Genre or theme about wrestling"
Google translator:
I just started to think that I could not create a wrestling game, either a simulator and a theme of that or that a simulator sub-branch is specifically about wrestling

[2020-09-10 08:23] xsellier commented on #469
Linking this suggestion to the theme suggestion ticket:
https://github.com/binogure-studio/city-game-studio-i18n/issues/388

And Im closing this one.

[2020-09-10 08:23] #469 closed, assigned to xsellier

[2020-09-10 08:23] xsellier commented on #388
Wrestling

[2020-09-10 08:24] xsellier commented on #468
Hello,

When you make a game you make it for a single platform. Then, you can put the game on hold and start porting it onto several platforms. And once everything is ready to be released, you can release the game for all the platforms thanks to a single button.

However, if you want to release your game as soon as it is ready, you can also do it.

[2020-09-10 15:56] DioManquicio commented on #468
well ok

[2020-09-11 16:48] xsellier opened #470 "Suggestion: Compare your game with competitors games durent convention"
When you create the event for video games, you don't know if other companies register or how popular your event is compared to others. It would be nice to know if your event is more important than another and if other companies are joining your event. (It would also be to know the popularity of the events in which it participates with respect to the competition).

[2020-09-13 11:26] Diminatsis opened #471 "Suggestion: Top 100 bilboard"
It would be amazing to see your games compared to the games from other competitors in different ways. Like to have a top 100 bilboard for most sold games, games with the most income. And maybe more. It would really give the player an extra challenge to reach as high as possible.

[2020-09-23 16:13] JoshTheDeveloperr opened #472 "Suggestion: pay to remove ads"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Since you can make free games and monetize it using ads, it would be really neat if you could add a micro-transaction where users can pay to remove ads therefore increasing user retention.

**Describe alternatives you've considered**
This isn't an alternative to that solution but I feel like

[2020-09-24 17:15] Neimit opened #473 "Suggestion: Publishing Denial/Delay"
I was thinking that there could be some chance, of you being denied the publishing of your game. It could be more common for certain game genres that may be undesirable. It can happen that some game gets denied to be published on some platform in real life, though I don't think it's very common. What could also be added is a publishing delay, it sometimes happens that there is a delay between when

[2020-09-24 17:23] Neimit opened #474 "Suggestion: Game Time Progression"
A option either in the setting or on the bottom game tab, next to the play/pause there could be a option to disable the game from pausing when you enter different menu's, this way you could keep the game running, I would find it cool since, I would like to keep the game running at a slower speed but constantly, instead of having it not run at all when I'm in a menu, and having it run faster when I

[2020-09-24 17:55] Neimit opened #475 "Suggestion: Duplicate Furniture"
I know when you buy a new item you can place more of it by holding shift, but if you are moving furniture around in your studio or so and want to place one or few more of what you already have in the studio, you have to go back into the shop find it and select it. With duplication you could press and hold ctrl while clicking a item already placed in your studio, this would duplicate it and you cou

[2020-09-29 01:00] DioManquicio opened #476 "Suggestion: Publisher/Buy license/Offers/Suggar Daddys XD"
Hello first of all, these suggestions were made with google translator, yes, I hope that google has translated correctly from Spanish to English. Second, thank you very much for making an effort and taking into account our suggestions when creating the game, especially being one person and knowing what an effort it should be, having to develop code, concept art, etc. So now yes, here are my 4 sugg

[2020-09-29 16:54] xsellier commented on #476
Hey,

Thank you for that suggestion.
Im gonna link it with the other one which talk about the same topic:
https://github.com/binogure-studio/city-game-studio-i18n/issues/97
https://github.com/binogure-studio/city-game-studio-i18n/issues/403

And close this one since it is a duplicate.
But no owrries, Im gonna keep the link between the two tickes so nothing is lost here.

[2020-09-29 16:54] #476 closed, assigned to xsellier

[2020-09-29 17:03] DioManquicio commented on #476
Ok Thank You nwn

[2020-09-29 17:12] JokerOmen opened #477 "Suggestion: More development options"
**Is your feature request related to a problem? Please describe.**
Hey, it's not related to a problem really. It just gets boring when you design games, and only choose about features, but not about themes.

**Describe the solution you'd like**
It should be like the tech tree of games: you choose main themes you learn over time or buy with points, then unlock sub-themes. Like "Military>Tanks/Infan

[2020-10-02 20:05] LPTR-Pieter opened #478 "Suggestion: Option to edit SaveGame"
**Is your feature request related to a problem? Please describe.**
Sometimes i just like to give my company just a bit more money xD Or changing the name. Stuff like that.
I know the save file is encrypted right now, but it would be much nicer to be able to edit it.

**Describe the solution you'd like**
Decrypted Save file, Or some cheating menu for the soon coming Workshop page.

**Describe alter

[2020-10-15 12:18] xsellier opened #481 "Suggestion: Keep updating a game that has been published for an obsolete platform"
See:
https://steamcommunity.com/app/726840/discussions/0/5118863332765630107/

[2020-10-21 15:09] Spartuluz opened #482 "Suggestion: Self managed studios"
I think it's interesting this idea, because for me who's playing, I already have about 5 subsidies, and it becomes a lot to control at the same time, imagine more. So it would be good for them to manage themselves.

[2020-10-21 15:09] #482 closed, assigned to nobody

[2020-10-21 15:09] Spartuluz commented on #85
Spartuluz commented now
I think it's interesting this idea, because for me who's playing, I already have about 5 subsidies, and it becomes a lot to control at the same time, imagine more. So it would be good for them to manage themselves.

[2020-10-27 08:58] daniilkas12345 opened #483 "Suggestion: Console Systems and Development for Pre-Consoles"
**Is your feature request related to a problem? Please describe.**
- A clear and concise description of what the problem is. Ex. I'm always frustrated when there is no system for creating consoles, as well as there is no system for creating games in advance for new consoles that are being developed.

**Describe the solution you'd like**
A clear and concise description of what you want to happen:
-

[2020-10-27 08:58] daniilkas12345 commented on #483
If I wrote something wrong, I'm sorry, I know English very badly, I am Russian.

[2020-10-27 23:42] GeneralNW commented on #483
I'm pretty sure this stuff has already been suggested but still it's a good idea!

[2020-11-01 07:20] xsellier commented on #483
Hello,

thank you for those suggestions!

This is already implemented. You can develop games for upcoming consoles.

This has already been suggested.

I'm closing this issue and linking it with the create platform one:
https://github.com/binogure-studio/city-game-studio-i18n/issues/403

Regards

[2020-11-01 07:20] #483 closed, assigned to xsellier

[2020-11-01 07:25] xsellier opened #484 "Suggestion: List the game report while making one"
Can read the previous game report while making one.

[2020-11-04 09:40] xsellier commented on #388
You can have new themes via mods:
https://steamcommunity.com/app/726840/workshop/

[2020-11-04 23:26] nekomaster opened #486 "Suggestion: MOD Platforms - Treat unlisted/uncoded genres as "poor" match for easier/faster modding/testing"
I think the title should describe the idea for the most part but heres a bit more to fill out the idea

Theres 63 genres to deal with and for the most part I just want to test out some stuff quickly and its a slight pain in the butt to have to think about all the genres a platform can match up with.

Might just be a better idea that instead of setting stuff by hand as "POOR" match for a platform,

[2020-11-05 08:58] xsellier commented on #486
Just updated the validation, so now when you try to load a mod, if it misses a genre, it will show you a list:
![image](https://user-images.githubusercontent.com/6616005/98219580-7cb34b80-1f4d-11eb-908a-c91871e6de43.png)

[2020-11-08 15:09] TheOnlyGaming90 opened #487 "Suggestion: Discount changes"
Make it so that doing a discount improves sales and income. (Not just the fans)

[2020-11-08 15:15] xsellier commented on #487
It impacts both already.

[2020-11-08 15:16] TheOnlyGaming90 commented on #487
does it **increase** **sales and income?**

[2020-11-08 15:16] xsellier commented on #487
Yes it does,
The more you keep your game on sale, the less it is efficient.

[2020-11-08 15:17] TheOnlyGaming90 commented on #487
what do u mean it is less efficient?

[2020-11-08 15:26] xsellier commented on #487
For example.
Game 1:
- 05 / 1998: Sale: **25%**, fanbase/income bonus **+50%**
- 08 / 1998: Sale: **25%**, fanbase/income bonus **+25%**
- 11 / 1998: Sale: **25%**, fanbase/income bonus **+13%**

Game 2:
- 05 / 1998: Sale: **25%**, fanbase/income bonus **+50%**
- 01 / 1999: Game update
- 05 / 1999: Sale: **25%**, fanbase/income bonus **+50%**
- 01 / 2000: Game update
- 05 / 2000: Sale: **25%**, fa

[2020-11-08 15:29] TheOnlyGaming90 commented on #487
thx

[2020-11-08 15:30] TheOnlyGaming90 commented on #487
do u rememebr me?

[2020-11-08 15:43] xsellier commented on #487
I do.

[2020-11-08 15:43] TheOnlyGaming90 commented on #487
i miss you

[2020-11-08 18:10] #487 closed, assigned to xsellier

[2020-11-08 22:46] TheOnlyGaming90 opened #488 "Suggestion: Announcing game"
There is a bug where you do a convention but the game isn't classed as announce and you don't get that email saying the fans are excited unless you do a press release or ad campaign

[2020-11-10 07:33] DioManquicio commented on #488
calm man sure he's busy, if sometimes he doesn't reply multiple github posts and other times he responds fast

[2020-11-10 07:37] TheOnlyGaming90 commented on #488
there is some history between us and i think he is not responding because of it

[2020-11-10 08:47] xsellier commented on #488
Never though about that one.
Meaning if we attend a conventon, it should also announce the game, or even better, having an option to announce the game during a convention. Thanks for the suggestion

[2020-11-10 17:17] xsellier commented on #486
Im closing this one since now the mod validation catches those errors.

[2020-11-10 17:17] #486 closed, assigned to xsellier

[2020-11-10 17:18] xsellier commented on #452
Implemented in v0.32.0
You can try it out on the unstable steam branch

[2020-11-10 17:18] #452 closed, assigned to xsellier

[2020-11-10 17:20] xsellier commented on #365
So the v0.29.0 is now out, and this issue is duplicated with this one:
https://github.com/binogure-studio/city-game-studio-i18n/issues/409

So Im closing this one.

[2020-11-10 17:20] #365 closed, assigned to xsellier

[2020-11-10 20:54] TheOnlyGaming90 commented on #488
if something is shown at a convention then people will know about it so this always confused me

[2020-11-10 20:57] TheOnlyGaming90 opened #489 "[mod] Validation error"
Creating a mod and i get this error

[create_data_validation_failed] File "C:/Users/jgdug/Downloads/mods/mod.json" is not a valid mod (code: 16

[2020-11-11 07:27] #489 closed, assigned to xsellier

[2020-11-11 07:28] xsellier commented on #489
Not a suggestion or a bug.

On the mod validation output, the last tells you which file is invalid and the line above whats the problem.

_By the way, you have been unbanned from the discord server_

[2020-11-11 19:16] TheOnlyGaming90 opened #490 "Change 9th gen consoles marketshare"
When the PS5 and Xbox Series X are actually out, can you update the marketshare to the real ones? Also update it AGAIN (for a 2nd time) after christmas because we both know that is when people buy the most consoles.

[2020-11-11 19:19] xsellier commented on #490
Already done in the latest version.
https://store.steampowered.com/newshub/app/726840/view/2935745853101060105

Closing this issue.

[2020-11-11 19:19] #490 closed, assigned to xsellier

[2020-11-12 21:03] TheOnlyGaming90 opened #491 "Xbox series x + Ps5 digital edition"
As we all know, there are 4 new consoles in this 9th gen. Not just the xBox series X and PS5 but there are also the PS5 Digital Edition and XBox Series X. Can you please add these binogure?

[2020-11-12 21:06] TheOnlyGaming90 opened #492 "Exclusives change marketshare"
Please make it that so if we make exclusive games for consoles; it changes the marketshare of that console to make it higher depending on how good our game is, and if it's not good enough then it does not change the marketshare at all.

[2020-11-12 21:20] TheOnlyGaming90 opened #493 "scrolling"
please add scrolling to the create sequel menu i know you can go into game history but thats such a pain it would be so much easier if u just added scrolling

[2020-11-12 21:30] TheOnlyGaming90 opened #494 "the most annoying bug ever"
Im making a game and the game constantly keeps on automatically switching to the "Which game genres the selected studio likes" bar on the sidebar and its so annoying when im trying to look at my sales. https://prnt.sc/vi95nl

[2020-11-12 21:31] TheOnlyGaming90 commented on #484
but your the dev why are u giving urself suggestions

[2020-11-12 23:22] xsellier commented on #494
Not a bug but a feature this bar shows you that your studios are bored of making the same genre.
You'd better start making games with a new game genre.

[2020-11-12 23:22] #494 closed, assigned to xsellier

[2020-11-12 23:23] xsellier commented on #493
Not going to happen. There is a way to create sequel via the portfolio panel. This feature is not needed at all.

[2020-11-12 23:23] #493 closed, assigned to xsellier

[2020-11-12 23:24] xsellier commented on #491
Since those are the same consoles, there is no need to add them.
And if you want them, you can make them by making a mod.

[2020-11-12 23:24] #491 closed, assigned to xsellier

[2020-11-12 23:27] xsellier commented on #492
This has already been discussed before ( https://github.com/binogure-studio/city-game-studio-i18n/issues/257 ) . The digital store is there for that.
Once the custom platform are going to get implemented, you will see something like that happening.

[2020-11-12 23:27] #492 closed, assigned to xsellier

[2020-11-14 11:48] chedeck opened #495 "Suggestion: marketing system redesign"
Hello
Je sais que ça fera surement beaucoup de boulot en plus mais je pense qu'il s'agit d'une feature importante.Le marketing est quelque chose de très important dans l'industrie du jeu vidéo. Du cout avoir un meilleur contrôle sur celui-ci serait génial.

Je me suis inspiré de deux jeux différant pour proposer cela, "Software inc" et "Game Dev Studio"En premier lieu il faudrait garder le système

[2020-11-15 11:34] jamesgracey010 opened #496 "VR ?"
Add the ability to add voxel graphics + vr graphics, or add a VR platform that we can port it to with VR graphics?

[2020-11-15 11:39] #496 closed, assigned to xsellier

[2020-11-15 11:40] xsellier commented on #496
Not a bug or a suggestion.
Please reword it as a proper suggestion.

[2020-11-22 09:41] xsellier opened #497 "Suggestion: Move the savefiles to the Document folder"
More convenient to have the save files in the document folder.

[2020-11-22 10:50] XHFlamer opened #498 "Suggestion:discount menu, etc."
- A separate menu for discounts and game updates :)
- The ability to give several tasks for 1 studio for the future (for example, update all games, etc.)
- Drawing up a plan with which studios will develop games automatically. And we'll just sit and swim in the moneyXD
- More interaction with competitors pliz

[2020-11-30 15:35] luz122002 opened #499 "Suggestion: Console Development"
Just an ideia

at 1985 and has more than 100M money you can start console development, than appear new competitors (microsoft, sony, Nintendo, sega) however they don´t compete in games, instead in consoles. You gonna have to invest in four kinds of room (Search,Optimization,Production,Marketing) The search is for actually search new technologies and the more searcher an freature the more cheaps it

[2020-11-30 15:39] luz122002 opened #500 "Suggestion: Slot Save System"
another save sistem but with no pontuation and you can save and return if you fails instead of "you fail, you lose your progress like for example
save1 12:00
save2 6:00

[2020-11-30 15:51] xsellier commented on #499
Hello,

Thank you for the suggestion. This has already been suggested before:
https://github.com/binogure-studio/city-game-studio-i18n/issues/403

I'm closing this one for duplicate

[2020-11-30 15:51] #499 closed, assigned to xsellier

[2020-12-08 15:52] xsellier opened #501 "Suggestion: Edit savegame difficulty"
Change the difficulty of a savegame

Ref:
https://steamcommunity.com/app/726840/discussions/0/2972902451439843666/

[2020-12-12 18:07] citygamestudio opened #502 "ADd console update beta"
When is console update beta?

[2020-12-12 20:16] #502 closed, assigned to xsellier

[2020-12-14 17:13] DoltenBolten opened #503 "Suggestion: Editing Savegame Speed"
This feature would grant the player the ability to change the speed of a savegame after you already started it.
For example, you could change it from Slowest to Slow or Normal and vice-versa.

Similar to [this issue](https://github.com/binogure-studio/city-game-studio-i18n/issues/501) but with the game speed instead of difficulty.

[2020-12-14 22:03] Gabrielsz7802 opened #512 "Suggestion: Consoles"
An update that we will be able to make our own console, style the GDT( Game dev Tycoon)

[2020-12-15 01:07] DoltenBolten commented on #512
Consoles have been suggested already

[2020-12-15 08:36] #512 closed, assigned to xsellier

[2020-12-15 08:37] xsellier commented on #512
Duplicate of:
https://github.com/binogure-studio/city-game-studio-i18n/issues/403

[2020-12-15 18:23] Manthies opened #513 "Suggestion: a new 'publishing games way' alternative"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Thus far, before self-publishing your own games, you need to develop games for rival companies until you reach 10k fans (Game Dev Tycoon has a similiar mechanic). However, the problem is that the options for games to choose to develop is f

[2020-12-16 00:00] beahlbsmf opened #514 "Suggestion: Unlock themes as time goes by"
Hello,
Can it will be possible to unlock themes like you unlock genre ?
I imagine it in two way (you are free to choose one of them or none of them and just delete my suggestion) :
- 1 : The player start with a limited number or theme (like 5 or 8) and themes unlock themselves with time (like every 3 years)
- 2 (I rather this one) : The player start with a limited number or theme (like 5 or 8) and

[2020-12-16 12:46] DoltenBolten commented on #413
I like the review bombing one

[2020-12-25 00:24] 12zvr opened #515 "Suggestion: Creation of game covers"
Creation of game covers

**Describe the solution you'd like**
I would like you to be able to create game covers in the same way as I create the studio logo, nothing that affects the quality of the product, just something cosmetic.

**Describe alternatives you've considered**
if the player does not want to create a cover he only chooses a generic cover based on gender.

**Additional context**
it wo

[2020-12-27 08:31] xsellier opened #516 "Suggestion: Lifestyle"
Source:
https://steamcommunity.com/app/726840/discussions/0/3003303575727236618/

[2021-01-04 10:30] PLord84 opened #519 "Suggestion: Always use all studio's/teams option"
Except for creating a game, the default for doing something (Creating updates, contract work etc) is only 1 studio (it auto selects just 1 studio that has no work), please add an feature that lets you toggle "use all studios" for every project, for me it's just needless clicking everytime i do something as i just rather do everything with all teams.

[2021-01-04 14:47] kevinwarrior opened #520 "Suggestion: Games protection"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Video game piracy is a very common problem in the world of video games and I would like it to be added,  and I wish we could use a "defense systems" such as Denuvo or be able to create one ourselves

This would obviously increase the difficulty of the game, so it might be an idea to put this

[2021-01-08 12:23] AzelyFox opened #522 "Bug: difficulty 'wage' modifier not works in unstable branch"
**Describe the bug**
Hi, Im using unstable branch,
with my own mod which adds new 'difficulty'.
But in unstable branch, the 'wage' modifier seems not working properly.
In stable branch with my mod(wage=0.01), my employees were happy when i set my company's wage increment 1~2%.
But in unstable branch, they are not happy with that amount, they only happy when wage increment is higher than 16%.
Thank

[2021-01-08 22:09] beahlbsmf opened #523 "Suggestion: Events appear in a pop-up window"
Hello,
I suggest this feature because we (players) recieve so much mails that when we recieve a Event mail, it often gets lost in the ton of emails.

The solution of this will be to make appear events messages with a pop-up just like as conventions used to do before.
I hope it will be possible to make this pop-up appear for randoms and planned events.

I had a discussion with someone who was a bit

[2021-01-08 22:11] beahlbsmf opened #524 "Suggestion: Suggestion about Android and IOS platforms"
Hello,
Because of my mod, Android and IOS platforms has been added in the game. You know it but these platforms make earn a lot of money because of their number of users. So i suggest you three ideas to patch it :

1) You try to make paid games less profitable. It is the hardest thing to implement but also the most realistic one.

2) It can be with the idea 1 : you put a percentage which will be t

[2021-01-08 22:13] beahlbsmf commented on #524
Sorry, i created this issue too early.

[2021-01-10 17:07] AzelyFox commented on #522
It seems happening only when i load existing savegame.
When i start new game with my mod in unstable branch, the 'wage' modifier seems working fine.

[2021-01-11 08:49] xsellier commented on #522
Hey,

Thank you for that report.
I fixed the issue and added a new check. It will be published with v0.34.0-rc17.

[2021-01-11 14:54] PLord84 opened #525 "Suggestion: Make the pop-up notification icon appear instantly rather than to hit the edge of the screen and bounce back like in the current build"
Pretty much the title,
Make the pop-up notification icon appear instantly rather than to hit the edge of the screen and bounce back like in the current build.
Why? personaly i think it's kind off annoying to try to open the pop-up fast but it bounces back and you have to "catch" the pop-up, it's an "neat" visual effect but practicaly just makes me want to toggle off most notifications (Which is a

[2021-01-12 17:12] xsellier commented on #144
Closing this one for the new ticket in english
(Je ferme ce tiquet car il existe un autre tiquet rédigé en anglais).

https://github.com/binogure-studio/city-game-studio-i18n/issues/520

[2021-01-12 17:12] #144 closed, assigned to xsellier

[2021-01-26 09:25] xsellier commented on #523
Hey,

Thank you for that suggesiton, and I'm glad because it is already implemented (unstable Steam branch).

[2021-01-26 09:25] #523 closed, assigned to xsellier

[2021-01-26 09:25] #522 closed, assigned to xsellier

[2021-01-26 09:27] xsellier commented on #525
Hey,

Thank you for that feedback, do you mind trying out the unstable Steam Branch (Right click on City Game Studio => Properties => Betas => Select Unstable). Because I implemented this suggestion:
https://github.com/binogure-studio/city-game-studio-i18n/issues/523

Most important suggestions are going to be shown as a popup

[2021-01-26 09:32] xsellier commented on #524
Hey,

Thank you for that suggestion.
About the profitability of those platforms, they haven't been added to the game because the business model attached to mmobile gaming is not the same as console/PC gaming. Nonetheless, to make those platforms less profitable then set the `total_amount_of_published_games` to `3 000 000` (which is realistic).
I think, a quick way to fix that is to add a new type

[2021-01-26 09:33] xsellier commented on #410
Closing this ticket because of the talk we are having in this one (covering the same feature):
https://github.com/binogure-studio/city-game-studio-i18n/issues/524

[2021-01-26 09:33] #410 closed, assigned to xsellier

[2021-01-26 12:55] beahlbsmf commented on #524
Ok thanks

[2021-01-26 13:12] beahlbsmf commented on #524
Oh sorry I thought I had to close it

[2021-01-28 14:29] quancore opened #526 "R&D"
Why such a crucial game dynamic is nor added to the game (research and development)? It is a must and one of the most logical thing a game simulation should have. Are you planning to add it?

[2021-01-28 14:34] xsellier commented on #526
Hey,

Thank you for the suggestion, R&D has already been suggested.

Closing this one (duplicate):
https://github.com/binogure-studio/city-game-studio-i18n/issues/261

[2021-01-28 14:34] #526 closed, assigned to xsellier

[2021-01-29 12:18] quancore opened #527 "Stuck at morgage"
I have stuck this panel, I could not do anything. What should I do?

[2021-01-29 12:23] xsellier commented on #527
If you are stuck on this panel it means you need to borrow money.
To do that, select  the amount of money you want to borrow, the duration then click on Apply.

![how-to-mortgage](https://user-images.githubusercontent.com/6616005/106274845-3102fc00-6235-11eb-9170-582536960090.gif)

[2021-01-30 14:46] #527 closed, assigned to xsellier

[2021-02-03 15:17] TheLazyRuler opened #528 "Suggestion: Independent Studios"
Right now you can only buy a whole competitor. But I would love to be able to just buy a single studio.
for example like EA aquired Respawn. So my suggestion is that after a while independent studios rise up on the city map,
and you could aquire them in the competitor tab under a new menu. The aqusition progress should be the same as
for the console manufactures, but just with money you have to pa

[2021-02-06 17:31] xsellier opened #529 "Suggestion: Impacts on Theme trends"
Making great games should impacts the theme trends if the game is almost perfect.

Steam post:
https://steamcommunity.com/app/726840/discussions/0/3114771735681823775/

[2021-02-06 17:33] xsellier opened #530 "Suggestion: Showing specialist's current game's info when hovering"
I think that a neat feature would be if while I'm deciding which game to stop supporting with a certain specialist (whether it be a marketer or a producer) that I could see the info about each game as I'm hovering over it, that way I could decide which game deserves less attention than the current game I'm building as I decide which specialists to assign in the initial "Self Publishing" interface.

[2021-02-06 18:53] PLord84 opened #531 "Suggestion: Custom Console Online subscription"
Much like the Playstation, Switch or Xbox of the real life, allow us to make an fee for the players to be able to play games online, meybe the more online games the console has the more bought that feature is, but it also may affect the popularity of the console negatively (the fact there is a sub and the price of it) ?
that's a bit more advanced and i have no idea how much time you would want to

[2021-02-07 08:57] xsellier commented on #528
Thank you for that suggestion, it's already been suggested.
Closing this one for:
https://github.com/binogure-studio/city-game-studio-i18n/issues/409

[2021-02-07 08:57] #528 closed, assigned to xsellier

[2021-02-07 08:59] xsellier opened #532 "Bug: Renaming building doesn't work the first time"
When renaming buildings from the building management window in the bottom left-hand side of the screen, after typing the name and hitting 'Enter' or clicking away from the box, the name sometimes does not update and requires a second, or even third try, to update correctly

Related Steam post:
https://steamcommunity.com/app/726840/discussions/2/3114771735685243612/

[2021-02-07 09:33] proxyspride commented on #532
Awesome, this will be very handy, as I am a heckler for naming each of my buildings for easier assigning of tasks for specific teams.

[2021-02-07 09:35] proxyspride commented on #525
This is still not fixed in the current unstable branch, the pop-ups still take a moment to bounce on the edge of the screen, making me wait to click it until it's done bouncing. I think there was some miscommunication here. :P

[2021-02-07 09:44] proxyspride commented on #515
That would be SO awesome, I'm always looking for ways to mix up the game. And having the same creation window as the logo creation would make it easier to implement?

There's already one game dev tycoon that has this feature, "Video Game Tycoon'. I honestly really enjoyed that about that game, but it lacked everything else that CGS does have. So this would just be another step that CGS puts betwee

[2021-02-07 10:03] proxyspride opened #533 "Suggestion: Save My Previously Created Micro-Transactions for Future Games"
**Is your feature request related to a problem? Please describe.**
Yes, I like to make a few games now and then that are free and operate solely on Ads and micro-transactions, and everytime I make a new game with micro-transactions I have to make the items for it all over again and this wastes so much of my time clicking around on the tiny window back and forth.

**Describe the solution you'd like

[2021-02-07 10:15] proxyspride commented on #365
I think what he is saying is that it would be convenient if we could basically set a team to continuously do contracts until we tell them to stop, if they could be set as autonomous contractors until instructed otherwise?

[2021-02-07 10:21] proxyspride opened #534 "Suggestion: Autonomy of purchased studios"
**Is your feature request related to a problem? Please describe.**
Yes, every time I buy out a competitor I have to worry about new buildings and employees that I have no idea what to do with, have no need for, and would rather just not have to worry about. I still want to buy out my competitors because I don't want them taking market strength, but it's not enjoyable at all and is very time-consum

[2021-02-07 10:24] proxyspride opened #535 "Suggestion: The option to have competitors you've bought out, remain autonomous"
**Is your feature request related to a problem? Please describe.**
Yes, every time I buy out a competitor I have to worry about new buildings and employees that I have no idea what to do with, have no need for, and would rather just not have to worry about. I still want to buy out my competitors because I don't want them taking market strength, but it's not enjoyable at all and is very time-consum

[2021-02-07 10:24] xsellier commented on #534
Duplicate of:
https://github.com/binogure-studio/city-game-studio-i18n/issues/409

[2021-02-07 10:24] #534 closed, assigned to xsellier

[2021-02-07 10:24] xsellier commented on #535
Duplicate of:
https://github.com/binogure-studio/city-game-studio-i18n/issues/409

[2021-02-07 10:24] #535 closed, assigned to xsellier

[2021-02-08 09:16] proxyspride opened #536 "Suggestion: Show Donation Amount When Being Asked to Make a Donation"
**Is your feature request related to a problem? Please describe.**
I just started a new game on a harder difficulty with a larger map, things were going really well and I was profitable from the start. Until I was asked to make a donation.. Thinking I could afford whatever it was, I accepted.. And immediately got a game over. I had more money than when you start, and I hadn't even progressed 7 mon

[2021-02-08 09:23] xsellier commented on #536
I think it comes from a mod, I don't remember a donation notification made from vanilla-CGS.

[2021-02-18 21:35] PLord84 opened #537 "Number of produced points to appear instantly"
Currently, when u finish a game it will take a few seconds for the points to accumulate, i suggest to make it appear instantly/allow us for it to show the overall points instantly everytime you finish a game.

[2021-02-20 10:20] proxyspride opened #538 "Bug: 'Marketing Campaign' Window Not Updating Properly"
[**Describe]([url](url)) the bug**
My game has been taken off the market, however it's still selling copies somehow, and is still receiving marketing.
I cannot end the marketing campaign, because it has disappeared from the Marketing Campaign window.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce a game.
2. Wait for the game to be near being taken off market (leave enough time to po

[2021-02-22 18:20] beahlbsmf opened #539 "Suggestion: Balancing competitors to make them fail"
Suggestion by Deadly Dragoon on Discord : Balancing a bunch of competitors which, instead of having them all be super big companies, the player will see a few of them grow from 0 fans and 1 worker upwards, alongside the player.

And add the possibility for a competitor to fail (go bankrupt). The ones who will fail will be replaced by others competitors witha random value. It means the substitue ca

[2021-02-25 06:38] DeadlyDragoon opened #540 "Console Suggestions"
I messed around with the latest update and I feel the console creation aspect could use a few updates. Here are my suggestions to spice them up!
- Games have fans. You can gain fans through games. Why can you not gain fans through consoles? I made 7 million dollars worth of profit off of selling my console but I gained 0 fans. Shouldn't people be a fan of the console?
- Options! The components tha

[2021-02-25 08:22] xsellier commented on #537
Hey,

You can do that by setting the game on low settings.
![image](https://user-images.githubusercontent.com/6616005/109124229-f5cbee00-774a-11eb-81a8-dadff4b01372.png)

[2021-02-25 08:22] #537 closed, assigned to xsellier

[2021-02-25 08:23] xsellier commented on #539
This will be part of this update:
https://github.com/binogure-studio/city-game-studio-i18n/projects/1#card-55424367

[2021-02-25 08:23] xsellier commented on #538
Im gonna fix this bug for this update:
https://github.com/binogure-studio/city-game-studio-i18n/projects/1#card-55424367

[2021-02-25 08:30] xsellier commented on #540
Thank you for that report.

1. Fan made by consoles. A console is great as soon as it has great title on it. So it is pretty mich the games that make you a console fan.
2. Mod support are coming in the next update. So you should be able to add more component to the custom platforms
3. Indeed a good idea!
4. You market your console by making games for it. So As soon as you market a game and it is p

[2021-02-26 15:11] tajemniktv opened #541 "Suggestion: New Game "Template""
**Is your feature request related to a problem? Please describe.**
Not much of a problem, but when I'm creating new game, it's really annoying to change a founders name, company name, logo etc. to the same over, over and over again.

**Describe the solution you'd like**
New button for "saving template of a new game", that contains:
- Company name;
- Logo;
- Look of a character;
- Number of competi

[2021-02-26 22:50] DeadlyDragoon opened #542 "Random Events"
While working on the event translations for Beahl, I had an idea!
The events could be spiced up with some random charm. I'll use an example from Beahl's mod since it is what I have on hand currently.
“Greetings Boss! I received an email earlier today from a community of modders that have developed several mods for a few of our games. They said that they would love to put their knowledge and produc

[2021-02-26 22:57] DeadlyDragoon opened #543 "Expanded Events"
Another idea from working with Beahl.
Events can't have variables. This forces awkward writing.
"One of your games will have increased sales."
Alright, cool... Which game?
Mods can't tell you.

What if instead of writing "Hello Boss" we could write "Hello <Player's Name Here>"

Additionally, more event options would be nice. The ability to modify the rate in which staff need to vacation, increase

[2021-02-26 23:39] DeadlyDragoon opened #544 "Event Backgrounds"
All events in the game, that I have seen, are currently shown on a white background with black text.
It'd be nice if different colours or designs could be added.

For example, a red themed background with maybe a non-copyrighted mushroom and coin for Nintendo's console announcements.

Maybe something blue with some rings for Sega's.

Negative events, like the market crash, could be portrayed with

[2021-03-02 08:25] beahlbsmf commented on #536
Indeed, it is a part of the "Beahl Megapack" mod. I will make an update about it asap (I'll do all i can but don't expect it soon).

[2021-03-04 08:28] proxyspride opened #546 "Bug: Porting Games to a New Console Does Not Work"
**Describe the bug**
A clear and concise description of what the bug is.
Porting a game to a console I just released is not adding games to it's library. I ported 3 games to my new console and none of them actually worked.

**To Reproduce**
Steps to reproduce the behavior:
1. Release a console.
2. Port a game from a different console to your new console.
3. Check the game library of your new conso

[2021-03-04 10:14] xsellier commented on #546
Hey,

Thank you for that report.
I'm not able to reproduce that issue on the unstable Steam branch. So I think I fixed it yesterday while I was fixing tons of bug
You can try out the unstable Steam branch to be sure that it's been fixed.

[2021-03-04 10:14] #546 closed, assigned to xsellier

[2021-03-04 10:15] xsellier commented on #540
Point 6 has been fixed on the unstable Steam branch.

[2021-03-04 10:42] xsellier commented on #68
Finally fixed with v0.34.0

[2021-03-04 10:42] #68 closed, assigned to xsellier

[2021-03-04 14:18] cwa-gif opened #547 "Suggestion: Language packs"
**Is your feature request related to a problem? Please describe.**
I love this game, but It could always need more stuff this request is for language packs/translations

**Describe the solution you'd like**
* language packs add ons for games, and maybe global marketing/global sales in specific markets. f.i. vikings do well in scandinavia and so on. One could use services for it or use the studios

[2021-03-04 15:27] cwa-gif commented on #515
I would also love this! Not creative but the option, and also some generic/user created? covers would be nice

[2021-03-05 08:41] FolioNov9m opened #548 "Suggestion: Automatic holidays for tired devs"
Issue - Few studios, many devs. Difficult to check all of them manually.

Solution - set a number of %, when devs automatically go to holidays.

Example - if energy = 40%, dev -> holiday until energy = 100%

[2021-03-05 09:17] FolioNov9m opened #549 "Suggestion: New themes for vanilla version (list incl.)"
Issue - clear game (without workshop mods) have a small number of themes, some themes like 'Arabian night' are specific.
I dont like to use mods because it always a risk of stability issues.

List of themes (many inspired from other tycoons, few unique - just came up with)

- agents
- antiquity (strategy, quests at first)
- astronaut
- airplanes
- aliens
- angels
- apocalypse
- assassins
- barbari

[2021-03-05 10:47] max-pete opened #550 "Suggestion: grouping studios under an umbrella"
it would be cool to be able to group different studios under umbrellas, so it easier to select when choosing what studios work on a project.

it is annoying when having to go through the list of studios to choose which ones i want to work on a project individually, it would be much easier if you could choose a group of studios to be part of one 'umbrella' which can be selected when choosing teams.

[2021-03-05 11:13] cwa-gif opened #551 "Suggestion: Other Publishers publishing games for your consoles"
**Is your feature request related to a problem? Please describe.**
When we make our own consoles, time often catches up, so it is hard to make a lot of games for the console before the need arise for a nextgen console. I would love the option for other publishers to publish games for our consoles (like we do ourselves) we do not necessarily need to earn a lot of money from it, but the "games for c

[2021-03-05 15:21] xsellier opened #552 "Suggestion: Console sequel"
Making a console sequel to get a boost while making it

[2021-03-10 17:01] ArthieuCYD opened #553 "Suggestion: Exclusivity contract - counter offer"
Je propose ici cette modification avec les propositions d'exclusivité de la part des éditeurs sur nos jeux proches de sortir. Quand ils nous proposent une exclusivité, on a malheureusement que 2 choix : refuser ou accepter. J'aimerai proposer le fait de pouvoir négocier en demandant moins d'argent mais par contre en donnant l'exclusivité du jeu sur 6, 12 mois (un peu comme le système de licence dé

[2021-03-12 12:58] CrevetteTV opened #554 "Suggestion: Console, Magasin"
J'ai une question pour les magasins dématérialisés il y a vraiment une vraie concurrence ? parce que je trouve que cette branche n'est pas assez développé sa serais bien qu'on voit les autres concurrents ou même des nouveaux qui arriverais et qu'on voit surtout le nombre qu'ils vendent enfin que sa soit beaucoup lus détailler je trouve que les magasins dématérialisés sont pas assez exploité a moin

[2021-03-15 08:19] xsellier commented on #551
They already can publish games on your console.
I just need to balance the consoles at the moment.
You might want to try out the unstable steam branch.

[2021-03-15 08:19] #551 closed, assigned to xsellier

[2021-03-15 08:21] xsellier commented on #549
Hey,

Thank you for that suggestion, I'm gonna close that issue because there is one dedicated for theme suggestions:
https://github.com/binogure-studio/city-game-studio-i18n/issues/549

[2021-03-15 08:21] #549 closed, assigned to xsellier

[2021-03-15 08:21] xsellier commented on #388
-
    agents
    antiquity (strategy, quests at first)
    astronaut
    airplanes
    aliens
    angels
    apocalypse
    assassins
    barbarians
    baseball
    basketball
    bricks
    bounty hunter
    bunker
    building
    cars (incl. F1, racing, streetracing, etc.)
    casino games
    castles
    colonization
    conquest
    cooking
    crocodiles
    cyborgs
    dance
    demons

[2021-03-16 20:44] FolioNov9m opened #555 "Suggestion: Developed game - no release, just report for better developing"
When player develop a game in new genre, he doesn't know correct sliders

**Describe the solution you'd like**
After game developed fully (window of price) reject a developing (reject a publish in fact, game is developed) and create report for better sliders understanding

**Additional context**
This is good feature for rich developer who cares own reputation. Because indie dev has no money to rej

[2021-03-17 16:32] DoltenBolten opened #556 "Suggestion: Name of the Game on Development Menus"
**Is your feature request related to a problem? Please describe.**
Sometimes, when I create multiple games and then the development screen appears, I don't know which game it's for.

**Describe the solution you'd like**
What I suggest is for there to be the name of the game on the development screen between how much the development costs and how long it will take.

**Additional context**
Here's wh

[2021-03-18 08:07] xsellier commented on #556
Indeed, I just added it.
Thank you!

[2021-03-18 08:07] #556 closed, assigned to xsellier

[2021-03-21 01:43] ThisNekoGuy opened #558 "Suggestion: Sell IPs (and Maybe Internal Engines) to Competitors"
**Is your feature request related to a problem? Please describe.**
No issue, just thinking of creative ways to make money in the game.
(Perhaps for when the player is striking economic trouble)

**Describe the solution you'd like**
After an IP has been established, the IP gains a net-worth for that which can be leveraged to sell the IP to competitors
(This may perhaps also log the IP title and rem

[2021-03-21 05:02] ThisNekoGuy opened #559 "Bug: (Unstable Version) Distorted / Noise-filled Audio"
**Describe the bug**
Not sure why, but now every time I start the game, I can hear the audio but there's also a sort of a loud static noise that goes along with it (with my headset)
And if I play it though my TV speakers, it sounds like that but music is incredibly distorted, so it's quite worse and I can't get it to stop.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Unstable Bran

[2021-03-21 08:42] xsellier commented on #558
Hey,

Thank you for the suggestion. It looks like this other ticket:
https://github.com/binogure-studio/city-game-studio-i18n/issues/97

I'm gonna close this ticket, because those are going to get linked together.

[2021-03-21 08:42] #558 closed, assigned to xsellier

[2021-03-21 09:56] FolioNov9m opened #560 "Suggestion: Genres description"
Problem - genres have no description

Solution - Few words in this window for some genres. Dungeon and Dungeon Crawler - no explained what a difference for example.
https://i.imgur.com/ZLJYJEh.png

The same exist in Mad Games Tycoon and could be very useful

[2021-03-21 23:56] ThisNekoGuy opened #561 "Suggestion: Game Boy Color is Absent Between GB and GBA"
**Is your feature request related to a problem? Please describe.**
Just noticed the absence of a handheld and felt strange, considering that it was the first console I ever owned IRL

**Describe the solution you'd like**
Implement the GBC?

**Describe alternatives you've considered**
None, I was addicted to the GBC for a long time :joy:

**Additional context**
N/A

[2021-03-22 04:58] ThisNekoGuy opened #562 "Suggestion: Mortgage Menu Enhancement"
**Is your feature request related to a problem? Please describe.**
I have a few problems in regards to the Mortgage Menu and they are quite severe.
(This may be connected to my other suggestion recently about using company assets to liquidate debt, but this is a little more direct on the topic of the menu as a whole.)

1. When the player suddenly incurs a huge amount of debt, the performance of th

[2021-03-22 07:44] FolioNov9m opened #563 "Suggestion: franchise / game series"
We have the opportunity to create a sequel for own game.
What if also it will be possible to create a game in franchise/game series/universe?

Example - Warcraft is RTS, MMO and Card Game (Heartstone)
Warhammer - RTS, FPS,
Star Wars games - FPS, TPS, RTS
Halo - FPS, RTS

Difference, that games in franchise could be no direct sequel, but it exploit the same universe.
I tried to find examples where

[2021-03-22 11:49] xsellier commented on #563
Duplicate of:
https://github.com/binogure-studio/city-game-studio-i18n/issues/97

[2021-03-22 11:49] #563 closed, assigned to xsellier

[2021-03-22 11:53] xsellier commented on #555
Hey,

Not releasing a game has to have a bad impact on the studio. Generally there is no post-mortem on canceled games, because there was no production, so no customer feedbacks. But it is a video game so we can make it happen.

However, there is another feature that exists which is Contracts. Completing a contract trains your staff and also give you tips like a post-mortem. But you also get some

[2021-03-22 11:56] xsellier commented on #560
Hey,

Genres don't have description because I think it is better to leave some blank so you can fill them up.
For example, a Dicey Dungeon is a Rogue-like game as FTL or Rogue Legacy.

[2021-03-22 11:56] #560 closed, assigned to xsellier

[2021-03-22 12:43] xsellier commented on #562
Awesome suggestion.
So what I plan to do if you lose more than 10% of your currency within 3 months (or more than 1 million $), it is going to slow down the game and displays a tooltip explaining you are losing money. The tooltip will have a checkbox saying: `Don't show it again` so it will disable that message forever and stop slowing down the game.

If you are close to bankruptcy, let's say you

[2021-03-22 12:46] FolioNov9m commented on #560
` it is better to leave some blank so you can fill them up`

Does this option available in current steam version? O_o

[2021-03-22 12:51] xsellier commented on #560
I was saying I'd rather don't add a description so you can fill them up with your imagination.
But do you want to fill up the game genre description?

[2021-03-22 20:16] ThisNekoGuy commented on #562
Thanks, I appreciate it 👍

It's just really hard to not get instantly bankrupt when you've got servers to host, 5 or more studios, and you're trying to get a game out the door while the "Huge" category drains millions upon millions with no method available to mitigate it thus sinking my company to the bank faster than the Titanic

[2021-03-27 02:59] ThisNekoGuy opened #564 "Suggestion: Rent Out Personal Server Space for Competitors"
**Is your feature request related to a problem? Please describe.**
I just struggle to make money when I'm anywhere under 1 million, after the year 2000, so I've been trying to think of creative ways to make money to stay afloat.

**Describe the solution you'd like**
Since servers are added around 2000, I thought it would be a good idea to rent out your own servers at competitive rates to convince

[2021-03-27 18:08] ThisNekoGuy opened #565 "Bug: Workers Addicted to Coffee When Vending Machine Breaks"
**Describe the bug**
When there are no coffee machines (only vending machines), and one of them breaks, the game notifies the player that the workers of that studio are addicted to caffeine because the "coffee machine" broke.

**To Reproduce**
Steps to reproduce the behavior:
1. Play the latest Steam unstable version
2. Wait for a vending machine to break
3. Be notified of the event
4. See the bug

[2021-03-27 20:05] brokker11 opened #566 "@Binogure I have idea. Create and sell hardware."
Create CPU, GPU, OS. Work with Asus, Msi, TSMC and others. And research hardware

[2021-03-28 15:33] xsellier commented on #566
Hey,

Thank you for the suggestion but this game is about making games/consoles.
Regarding hardware stuff, I suggest you to try out Computer Tycoon
https://store.steampowered.com/app/686680/Computer_Tycoon/

[2021-03-28 15:33] #566 closed, assigned to xsellier

[2021-03-28 20:23] ThisNekoGuy opened #567 "Suggestion: Permit Hired Companies to Work on Sequels to Very Old Games"
**Is your feature request related to a problem? Please describe.**
Even though you can create sequels for games yourself dating as far back as the beginning of the game (if you've progressed far), and you can hire companies to make sequels for you, you can't hire them to make sequels for games as far back as the game history menu permits because it assumes only you can do so yourself and the drop-

[2021-03-29 09:03] xsellier commented on #559
thank you for the report, I published a bugfix, just check out the troubleshooting guide:
https://steamcommunity.com/app/726840/discussions/0/4111168970105560012/

[2021-03-29 09:03] #559 closed, assigned to xsellier

[2021-03-30 07:26] FolioNov9m opened #568 "Suggestion: New Genre - DCCG"
Digital collectible card game

https://en.wikipedia.org/wiki/Digital_collectible_card_game

[2021-03-30 08:53] FolioNov9m opened #569 "New subGenre - Stealth (action)"
CGS has a shoot subgenre in Action, so probably Steath could be too?

[2021-03-30 14:33] FolioNov9m opened #570 "Suggestion: Port game feature rethink (Game re-development)"
**Is your feature request related to a problem? Please describe.**
For now feature of game port is useless. I have a good game, by Sega Platform for example. I want to port this game in NES.
Compatibility is 62% or something else.

**Describe the solution you'd like**
Low Compatibility meaning that it needs advanced time, money and development. Game will be good too, but after advanced polishing.

[2021-03-30 15:29] xsellier opened #571 "Suggestion: New genres"
Sticky issue for new genre suggestions

- Digital collectible card game
https://en.wikipedia.org/wiki/Digital_collectible_card_game

- Stealth

[2021-03-30 15:31] xsellier commented on #569
Hey,

Thank you for that suggestion, I just realized it'd be better to have only one ticket for genre suggestions:
https://github.com/binogure-studio/city-game-studio-i18n/issues/571

[2021-03-30 15:31] #569 closed, assigned to xsellier

[2021-03-30 15:31] xsellier commented on #568
Hey,

Thank you for that suggestion, I just realized it'd be better to have only one ticket for genre suggestions:
https://github.com/binogure-studio/city-game-studio-i18n/issues/571

[2021-03-30 15:31] #568 closed, assigned to xsellier

[2021-03-30 16:44] ThisNekoGuy commented on #571
- FPS/TPS RPG?
- Strategy [Turn-based] RPG? (I think about this often not sure because "Tactical RPG" is already present but isn't particularly definitive)
- Open-world RPG? (Open-world exists for the adventure tree but not for RPGs [ example(s): Final Fantasy XV, KOTOR ])
- Horror-shooter? (Not sure about this one either because this splits horror into two categories: games like Fatal Frame and c

[2021-03-31 08:00] xsellier commented on #538
Thank you, I've just fixed it this morning.
Will be out for v1.0

[2021-03-31 08:00] #538 closed, assigned to xsellier

[2021-04-01 14:26] DoltenBolten opened #572 "Suggestion: Controller Vibration as a Game Engine Feature"
I suggest for Controller Vibration/Haptic Touch as a new Game Engine Feature that you can implement in a Game Engine

[2021-04-02 13:44] FolioNov9m opened #574 "Suggestion: Massive tables net pattern"
Opportunity to set tables 2x2, 3x3 or something like this
I have 5+ buildings and tens tables in each. It will be very useful to use a pattern to set many tables by lines in one click

![image](https://user-images.githubusercontent.com/80094976/113420661-61e8e400-93d2-11eb-8714-9e53aee9fbcd.png)

Difficultly to explain in English tbh, but if you don't get my point, feel free to ask me, I will try

[2021-04-04 12:45] dizikkk opened #576 "Suggestion: Stocks"
**idea of a new feature in the game**
Studios can be bought in the game. But what if we add the ability to buy and sell stocks of companies? And also place shares of your company on the stock market.
Implementation example: https://store.steampowered.com/app/606800/Startup_Company/

[2021-04-06 11:41] FolioNov9m commented on #549
ok, just chekc themes please, few of them could be unique and mb will be interesting 4 you

[2021-04-08 15:20] PLord84 opened #582 "Suggestion: Allow a studio to join a project that it isn't a part of and vice versa"
In the game when you make a new studio and there's already an ongoing project it can't join it, i think that shoudn't be a thing.

[2021-04-09 16:09] DoltenBolten commented on #582
Oh, I was just about to suggest this!

[2021-04-10 17:21] ThisNekoGuy opened #583 "Suggestion: Permit Competitors to Make Procedurally Generated Consoles"
**Is your feature request related to a problem? Please describe.**
I intend this idea to be a solution to the game "ending" by 2020/2021 (as it currently does) and create competition for the player's console(s) beyond this point.

The competition, in regards to consoles, stagnates at this point and real world future consoles, of course, can't be predicted so this would be a feature that helps keep

[2021-04-11 18:14] Boris911 opened #584 "Suggestion: When one competitor disappears (competitor went bankrupt or competitor was sold) newone will appear after half year"
Because is in the game low limit for maximal competitors up to 25 competitors. Mod can't exceed this low limit of maximal 25 competitors.

I suggest add feature to the game that when player or other AI will buy competitor, the number of will decrease (from 25 to 24). New one competitor will appear after half year to increase number back to game fixed limit 25 competitors.

E.g. when you and 4 AIs

[2021-04-12 14:37] xsellier commented on #582
It is already on my TODO list

[2021-04-13 13:52] xsellier commented on #222
Closing since you can unlock game genre by spying on competition

[2021-04-13 13:52] #222 closed, assigned to xsellier

[2021-04-13 15:45] ea76 opened #587 "Suggestion: suggestions,feature request,fixations"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

1-Is it possible to add "Filter by name" or Search button in sales report right hand side menu?
When you have so many games it takes too much

[2021-04-13 15:57] ea76 commented on #587
6-When doing some project in left hand side panel.the studio's flexibility is low,we can not add or remove studios on current projects to another which is contrary to real life as you can bring practical solutions to unexpected situations,wrong decisions etc...

[2021-04-13 16:12] ea76 commented on #587
7-the available studios in town always stabile;it may change every month or year;also the  rents or selling price of the existing used studios should change over time
8-the other buildings dont have any role in the game,may be they can have some role
9-i didnt realize yet whether marketing is worth or not,the benefits are not very understandable right now;also there is a negative event when doing

[2021-04-13 16:16] ea76 commented on #587
i am not sure whether i posted my first comments to the right place so i re post them :

1-Is it possible to add "Filter by name" or Search button in sales report right hand side menu?
When you have so many games it takes too much time to find the game that you want and apply discount or update.**_
2-The bottom panels is too small now while the older version was better; but the left and right hand

[2021-04-13 18:08] ea76 commented on #587
10-Is the star rating of the company working correctly? (right hand panel-list of companies section)
My average game rating is 86.5% and my company rating is 5 star over 8 star ?
I remember that it was 10 star before this version and was working correctly..

[2021-04-14 16:24] ea76 commented on #587
sorry for this request but my eyes are really bad when reading and now i have difficulties to read the tooltips,the new font is very small at least for me (it was the case after today's update )...Is it possible to make it  a little bigger?

[2021-04-16 13:03] ea76 commented on #587
11-the devs that you hire from staff menu are making very little progress in terms of training,if they have good design level they progress and make their level 99 quickly but their development and polishing levels barely advance,you play the game 45 years and studio average training remains around 65-70%.While the devs that you acquire from the job application mail quickly advance and reach 99/99

[2021-04-17 12:09] xsellier commented on #587
Hey,

Thank you for all those suggestions. I'm gonna keep an eye on those.
It is better to split your suggestions in order to have one suggestion per issue. I need to split it that way because it is easier to produce a changelog, for example:
## v1.2.5 includes
- issue #9876
- issue #9765
- issue #1269

For example, I implemented your request ie this comment https://github.com/binogure-studio/city

[2021-04-17 12:12] xsellier commented on #576
Duplicate of:
https://github.com/binogure-studio/city-game-studio-i18n/issues/77

[2021-04-17 12:12] #576 closed, assigned to xsellier

[2021-04-17 12:14] xsellier commented on #562
Thank you for that report. I fixed it on the unstable Steam branch already!

[2021-04-17 12:14] #562 closed, assigned to xsellier

[2021-04-17 12:15] xsellier commented on #536
Closing since it's been fixed (thanks @beahlbsmf  )

[2021-04-17 12:15] #536 closed, assigned to xsellier

[2021-04-17 12:15] xsellier commented on #484
Implemented in the latest version.

[2021-04-17 12:15] #484 closed, assigned to xsellier

[2021-04-17 12:18] xsellier commented on #435
I downscaled the UI lately, so if you can give the game another try, then update this ticket please.
Thank you.

[2021-04-17 12:19] xsellier commented on #403
Custom platforms have been implemented.

[2021-04-17 12:19] #403 closed, assigned to xsellier

[2021-04-17 12:20] xsellier commented on #226
Implemented in v1.0

[2021-04-17 12:20] #226 closed, assigned to xsellier

[2021-04-17 12:21] xsellier commented on #195
Thanks to the mod support, you are able to customize the difficulty.

[2021-04-17 12:21] #195 closed, assigned to xsellier

[2021-04-17 12:21] xsellier commented on #159
It's been implemented with the v1.0 (gameport queueing)

[2021-04-17 12:21] #159 closed, assigned to xsellier

[2021-04-17 15:50] ryanbis commented on #435
The game is shaping up pretty well, good job. While I think the UI is better, I still would like to see the games list be smaller. I mean the cards inside that box on the left. Those appear to be the same size, and you still can't fit 3 of them without having to scroll the window. I would like to see somewhere around 5 or 6 fit in that window before having to scroll it. Same with the info box on t

[2021-04-18 08:15] FolioNov9m commented on #570
Any prediction about this feature in v1.00 ?
Cheers!

[2021-04-18 12:38] xsellier opened #588 "Suggestion: Add cheatcode"
Add cheatcode

[2021-04-18 12:48] xsellier commented on #570
Are you using the steam unstable branch?

[2021-04-18 13:19] FolioNov9m commented on #570
After few years of Alpha testing in different projects, I enjoy of stable release version ^_^
Your answer is meaning that this feature already integrated isn't ? 👍

[2021-04-18 13:35] FolioNov9m commented on #570
@xsellier ok, I checked unstable version and game still losing rating after port as I can see o_O

[2021-04-18 17:34] xsellier commented on #570
It depends on the game now. You can get a better rating with a gameport.

[2021-04-18 18:03] FolioNov9m commented on #570
Ok thanks!
Will check this after release v1.00. For now I just create random indie game and port it.

Is it clear rating system or player couldn't to predict ?

[2021-04-18 20:13] xsellier commented on #570
It is predictable

[2021-04-19 09:18] FolioNov9m commented on #570
Amazing, thank you very much!

[2021-04-21 12:59] DerpySnake opened #589 "Suggestion: Downgrade/Upgrade currently developing games"
One thing I've done in this game is make a game for multiple systems, the only downside to that is they usually have highly varying stats on how you can develop a game, meaning if you want a high tech game you are forced to drop weaker systems or you have to downgrade the game, getting you lower scores on the higher end systems.

I think a great feature would be the option to make a "downgraded" v

[2021-04-21 15:07] FolioNov9m opened #590 "Suggestion: All tips and hints are open"
There are 'keep hints' but as I understood, this is opening hints which players investigated only.
Is it possible to open ALL hints - platforms-genres , genres-themes, sliders ?

[2021-04-21 22:10] KillerWraithGamingUK opened #591 "Suggestion: Game Remakes"
I think it would be cool to remake the games you release earlier in the game so if you release a game in 1996 and you want to remake it in 2016 or 2026, you should be able to click "Remake Game" and pick an old game you made to remake it with newer tools and such. Seeing as we are getting into the times where Old games from the 90s are being remade in new engines with new graphical fidelities.

[2021-04-22 09:21] xsellier commented on #591
Hey,

Thank you for the suggestion. It has already been submitted so I'm closing this one and linking it with the other one:
https://github.com/binogure-studio/city-game-studio-i18n/issues/351

[2021-04-22 09:21] #591 closed, assigned to nobody

[2021-04-22 13:54] FolioNov9m commented on #590
Update - especially if it combined to Beahl Megapack

[2021-04-22 13:55] FolioNov9m opened #592 "Bug: Skylight 8 wrong servicelife, popularity and capabilities"
Windows 8 supported from August 2012 to Jan 2016.
Skylight 8 existing in 2020 yet in CGS
If it 8.1 but I guess it needs smaller CC and GC, because 103/78 is pretty much for touchscreen hardware.

More. Skylight 8 is the most popular platform in 2020 :
![image](https://user-images.githubusercontent.com/80094976/115725895-e653d480-a38a-11eb-8283-4a090f328995.png)

And in 2021 too
![image](https://us

[2021-04-22 14:10] FolioNov9m commented on #592
The same for vanilla CGS
![image](https://user-images.githubusercontent.com/80094976/115728953-a3473080-a38d-11eb-9791-e31cfa8e0c22.png)

[2021-04-22 15:21] xsellier commented on #592
Thank you for the report.

[2021-04-22 15:32] xsellier commented on #592
Windows 8.1 end of support january 2023.
( https://www.support.com/how-to/when-is-windows-8-and-81-end-of-support-13095 )

Skylight 8 contains Windows 8 and Windows 8.1.
Market shares have been balanced.
Thank you for the report.

[2021-04-22 15:32] #592 closed, assigned to xsellier

[2021-04-23 14:17] FolioNov9m opened #594 "Bug: Port a game"
Very strange bug.

Starting Screen:
![image](https://user-images.githubusercontent.com/80094976/115884199-4e6fec80-a457-11eb-8816-f29c99c133cc.png)

As you can see, default platform is PC 8002. But this is not released yet and I dont want to port game to this. I can't disable. But if I choose another, PC8002 still in list:

![image](https://user-images.githubusercontent.com/80094976/115884329-795a

[2021-04-23 14:21] FolioNov9m commented on #594
I remembered you wrote route in SteamComm. :)
I can't upload direct file or .rar so
https://drive.google.com/file/d/1FndR0ZJOReksY_UtQE5q2Y9OolSjolA0/view?usp=sharing

[2021-04-23 17:09] xsellier commented on #594
Not a bug. You can start working on a game even if the paltform is not yet released.

[2021-04-23 17:31] FolioNov9m commented on #594
You dont understand a point. I dont want to use this platform and I can't disable this choice, it always is active...

[2021-04-24 11:35] FolioNov9m opened #595 "Suggestion: Game History - Year Month release"
Is it possible to add release date for games in Game History menu?

Cheers!

[2021-04-24 14:28] xsellier commented on #594
My bad, you're right! Thanks for the report

[2021-04-24 14:29] FolioNov9m commented on #594
Good 👍
I see the same today with Kernel 2, so this is no linked for specific platform

[2021-04-26 11:03] FolioNov9m commented on #588
@xsellier
One cheat code which I really want is opportunity to choose overall gamerating before release. Where set price window I mean. It will be great, because as I told I play CGS more like roleplay game and have frustration when my minor projects have super ratings and super profits, but my paramount franchise is failed despite sliders are good.

With cheat I could feel more freedom and creati

[2021-04-26 11:19] FolioNov9m commented on #590
update 2 - doesn't matter if you will add this feature
https://github.com/binogure-studio/city-game-studio-i18n/issues/588#issuecomment-826744196

[2021-04-26 12:48] ea76 opened #596 "Suggestion: Filters and research buttons"
**Is your feature request related to a problem? Please describe.**

why the game loads the game that i saved different than i saved ? ?
i am producing may be 80 games in month,so i produce them alphabetically to ease everything.
i am saving the game and when  i reload the game all games are listed randomly. Then i have to check them one by one to understand whether i did recently the same theme/ge

[2021-04-26 13:20] xsellier commented on #596
Hey,

Thank you for the suggestion. That is a very nice suggestion.
It might be part of the next update.

Regarding your typo,please don't use caps lock.

[2021-04-26 17:18] ghost opened #597 "Suggestion: Competitors can release games on your Console"
**Additional context**
I was thinking it would be smart if Competitors can release games on the Console that the player has made.

[2021-04-26 19:01] ea76 commented on #597
they already do

[2021-04-26 19:05] FolioNov9m commented on #595
I see now, dates appear when game leaves the market

[2021-04-26 21:15] xsellier commented on #595
I think Im gonna add the release date at least!

[2021-04-26 21:15] xsellier commented on #597
They already do

[2021-04-26 21:15] #597 closed, assigned to xsellier

[2021-04-27 21:42] ea76 opened #598 "Bug: my save game is locked"
hi,
my save is locked at the end of the month and dont proceed,i spent many times for this game,could you do anything to make it work again? I reported also as a bug within game menu.Thanks

[2021-04-28 11:37] ea76 commented on #598
Hi,

I opened another previously saved game(which i saved in January 2005) and played totally different but at the same time that is the end of May 2006 the game is stopping again,the application is not responding.
For this game i spent more than 1 months,is possible for you to do something??

[2021-04-28 12:12] ea76 commented on #598
note : i opened again the save game that i saved in January 2005 and this time fast forwarded by doing nothing until May 2006 and the game didnt stop this time at the end of May 2006 !! So what may cause this problem? May it be related with the size of the save game ?

[2021-04-28 13:06] xsellier commented on #598
N idea since I haven't your savegame and the description is really not clear at all.
I cannot help you if you don't describe the problem you encounter.

[2021-04-28 13:12] ea76 commented on #598
I reported bug for the save files so you can see them.
the game stops working at the end of May 2006.I started playing as usual from January 2005,produce games,did contracts etc... and then it stops at the end of May 2006,the application is not responding then.
but i started again the save game again that is from January 2005 and did nothing just fast forwarded to see whether it will stop again at

[2021-04-28 13:15] xsellier commented on #598
Hey,

I received your bug reports indeed! Thank you for the report.
I'm gonna try to reproduce your issue, however 55Mb, that is a HUGE savegame!

[2021-04-28 13:15] ea76 commented on #598
it was a usual game which started at 1976,you many times helped me in this game,did you remember the game making menu was opening very late and you corrected...

[2021-04-28 13:16] ea76 commented on #598
yes because there is near 3000 games produced inside

[2021-04-28 13:18] xsellier commented on #598
I do remember! Oh god, that savegame is reallllllly huge. I dont know how to handle a save that is that big!

[2021-04-28 13:22] ea76 commented on #598
it will be a huge disappointment for me to see that i couldnt finish this game but i know that you always helped me and did your best thank you indeed.It was the fault of me may be,because i see that one person scored more than 3M points,so decided to break the record but ....

[2021-04-28 13:30] xsellier commented on #598
One good news for you.
I know why the game freezes, and I know how to fix that.

The bad news, it is gonna take me a while to fix it

[2021-04-28 13:32] ea76 commented on #598
I am really sorry of disturbing you in your too much crowded working schedule indeed...

[2021-04-28 13:33] xsellier commented on #598
No worries, thank you for that report, you impressed me really. That savegame is huge!

[2021-04-28 13:34] ea76 commented on #598
thank you for you 2 for creating this beautiful game...

[2021-04-28 13:40] ea76 commented on #598
many times i changed my tactics of playing this last game as i was on the verge of leaving it in the late middle ::)
the change that you made with publishing limitless game,gave me the force to continue...

[2021-04-28 13:44] xsellier commented on #598
Im publishing a hotfix on the usntable steam branch. Just tested it, you can go past May 2006 without any issue.
But, regarding your savegame I have to say I need to implement paginations on several panels (in-dev and released-game panel).
Otherwise the game is so laggy that it is barely playable.

[2021-04-28 13:47] ea76 commented on #598
thank you very very much, but according to you shall i wait some time to play it? Do you think those paginations will take too much time? SORRY !!!

[2021-04-28 13:48] xsellier commented on #598
It is going to tkae a while to implement indeed. ETA mid-may

[2021-04-28 13:49] xsellier commented on #598
Update released, yo ucan start playing again ;)

[2021-04-28 13:51] ea76 commented on #598
i see, thank you for all your efforts; one more time sorry for all the burden that i gave you...
will i heard from you when those implementations are ready?

[2021-04-28 13:53] xsellier commented on #598
Im gonna update this ticket as soon as the update is ready.

[2021-04-28 13:54] ea76 commented on #598
okey, take care yourself, nice to meet you...

[2021-04-28 13:57] xsellier commented on #594
Problem fixed!

[2021-04-28 13:57] #594 closed, assigned to xsellier

[2021-04-28 15:20] xsellier commented on #598
Patched part of the game already. So if you load the latest version you should get few extra FPS.
But the pagination hasn't been implemented yet.

[2021-04-28 15:23] ea76 commented on #598
thank you indeed really appreciated...

[2021-04-28 17:02] ea76 commented on #598
after our conversation i updated the game 2 times with short breaks;then i played 2 months without problem,after the 3rd month the game freezed again
i reported as bug so you can check last situation
in terms of speed right now the game is in the same speed(waiting time) as before this problem...

[2021-04-29 17:48] FolioNov9m opened #599 "Suggestion: pre-development research"
based on
https://steamcommunity.com/app/726840/discussions/0/3133918821803841986/

Opportunity to request research for match of genre-theme and genre-platform before game developeping and publishing

[2021-04-29 21:20] xsellier commented on #599
That is an amazing suggestion!
I was thinking adding a popup menu to the marketing manager so they can do research about game genres-platforms.

[2021-04-30 07:52] FolioNov9m commented on #588
The same cheat (fixed rating or manual editing of rating) for all ports if it possible please.

[2021-04-30 08:09] FolioNov9m commented on #574
Hey,

I appreciated auto-furnish mode , which I didn't like before. So I guess this request could be closed 👍

[2021-04-30 08:54] xsellier commented on #598
Found out the root cause and fixed it! Sorry for the delay!

[2021-04-30 08:59] ea76 commented on #598
hi,
no problem for the delay,does this mean that i can play right now?

[2021-04-30 08:59] xsellier commented on #598
Not yet, I double checking the fix before publishing the update.

[2021-04-30 09:00] ea76 commented on #598
ok thanks, i will wait news from you to play again...

[2021-04-30 09:09] xsellier commented on #598
Update published!

[2021-04-30 09:14] ea76 commented on #598
thanks indeed,you mentioned about  implementing paginatations with ETA mid May;may i ask does this process continue or you managed to fix completely and it is ready?

[2021-04-30 09:29] xsellier commented on #598
I still have some work to do

[2021-04-30 09:33] ea76 commented on #598
okey,thanks in advance for your efforts...

[2021-05-02 03:26] ThisNekoGuy opened #600 "Suggestion: Controller Support for CGS"
**Is your feature request related to a problem? Please describe.**
I get this may sound weird but, unfortunately (even though I do prefer playing the game with a mouse and keyboard), I find myself in a predicament where I literally don't have a surface to put my mouse on to play the game.
(That, and even if I did I'm also in a situation where I'm babysitting 4 kittens all day for a while and havin

[2021-05-02 11:44] EightForFor opened #601 "VR Consoles/Headsets"
Well as i played City Game Studio i noticed that the game doesn't explore VR that much, and i'd love if the game allowed me to create a VR console/headsets, like for example Oculus Quest, Valve Index, Rift, Vive.... etc...

Being able to upgrade the tech like in the consoles, and seeing VR headsets/consoles on the market, even though we have engine feature for VR, we don't see VR that much, i thin

[2021-05-03 17:37] Shadowstitcher11 opened #602 "Suggestion: Random In-Development Events"
So how this would work is while you are developing a game random events can happen which can influence it in a variety of ways. Here is an example

"One of your developers thought of a suggestion on how to improve your game, it will take extra time but it should help"

Choice A - "Let's do it!"

Choice B - "No"

Choice A result - 1 week increase in game development time, small increase in game sco

[2021-05-03 17:52] Shadowstitcher11 opened #603 "Suggestion: Pay competitors for exclusivity contracts for consoles."
Summary - The ability to pay competitors an amount of money so they will upload games on your console for X amount of time.

Detailed Description / Reasoning - I noticed that console owners can contact you from time to time and ask for an exsluvivity deal between you and their console for X amount of it. I think it would be cool if you could negotiate price and for how long similar to how they can

[2021-05-03 20:40] GGplays commented on #572
Mod Engine Features add that!

[2021-05-03 21:23] ea76 commented on #598
hi,hope you re well
i am really sorry to disturb you again but the game freezed one more time;after you fixed last time i managed to play from 2006 to February 2014 but now  it doesnt proceed further.It remained less than 7 years to finish the game,i hope i can see the end;
i reported the save game as bug so you can check the last situation..

[2021-05-03 23:55] GGplays opened #604 "CGS in android/Ios?"
CGS in android? I ask because Godot Have support to android (i think) and i want to play my favorite simulation game while pooping

[2021-05-03 23:57] GGplays commented on #602
Its a good idea

Signed

[2021-05-03 23:57] GGplays commented on #603
VERY GOOD IDEA

[2021-05-05 09:13] xsellier commented on #604
Hey,

Indeed Godot Engine supports Android and iOS. I dont have any plan to support any of them atm because it woud require too much work to rework all the controls, and to unplug steam from the game.

However, since you can remote play together with Steam, I plan to fully support that feature, so you will be able to play on your mobile device thanks to steam!

[2021-05-05 09:13] xsellier commented on #598
Hey,

I'm really sorry about that bug. Thank you for the new bug report,Im gonna chekc it ASAP.

[2021-05-05 09:16] xsellier commented on #601
Hey,

Thank you for the suggestion. Thanks to the modmaker you can add VR hardware to your console or VR features to your game engine.
https://modmaker.city-game-studio.com/

You need to add a new component, if it is an hardware component or Add engine feature if it is a feature for your engine.
Then don't forget to publish the mod on the steam workshop, Im gonna test your mod, and amybe I will ad

[2021-05-05 09:29] ea76 commented on #598
hi,thanks no problem
The game saving style is not old-fashioned,we are saving over and over until quitting;do you think that this may inflate the size of the save game much more than it is expected?

[2021-05-05 10:15] xsellier commented on #598
Saving again and again doesn't inflate the size of the save game much more than expected since it only saved what's needed.
But the more you play, the bigger the save game size is.

[2021-05-05 20:30] EightForFor commented on #601
alrighty, thanky you!!! i'll mod that

[2021-05-07 11:54] xsellier commented on #598
Hey,

Sorry for the delay and thank you for your patience. A fix is available, I tested the whole 2014 year and everyhing seems to run smoothly. Please tell me if everything is fine for you too.

[2021-05-07 12:46] ea76 commented on #598
hi,
thank you very much,i will try at the weekend...

[2021-05-07 13:24] ea76 commented on #598
i am really sorry to inform you but nothing changed,it freezes the same place and dont proceed to the next month as i tried 3 times,i reported as bug report so you can check further.

[2021-05-07 13:47] ea76 commented on #598
i have only 2 save files,one is saved in beginning February 2014 and the other at the 3rd stop time of the same February 2014(i made the copy of first save file and started playing with this save file),i tried with both,they are freezing

[2021-05-07 14:10] xsellier commented on #598
They are going to freeze, but it should work after 2 or 3 minutes. Because of your savegame I have to add an algorithm that dynamically allocate memory to the signal array. Since your savegame needs ~128Mo of memory, it has to realloc memory from 16Mo to 32Mo, then to 64Mo then to 128Mo. After those transitions your game shouldn't freeze anymore. But it means, everytime you load your savegame it i

[2021-05-07 14:43] ea76 commented on #598
i understand the explanation and i thank you for developing for me the algorithm but may be my computer is bad and for this reason it is not working as i waited 10 minutes after freezing(2 times)
what happens is following:
1-the music stops and freezing starts
2-there is not any movement(the application is not responding)
3- i press ctrl+alt+del then i see a message on another window that "godot e

[2021-05-07 14:46] xsellier commented on #598
I see. Let me try another thing. I think the game feezes because it has crashed (just dumping a big memory takes time)

[2021-05-07 14:52] ea76 commented on #598
i agree with you that it freezes because it has already crashed

[2021-05-07 15:24] xsellier commented on #598
Ok, so I patched my previous code, and it should work better(it is also more optimized). May you please try it again?

[2021-05-07 16:10] ea76 commented on #598
here are my comments :
1-i tried the new patch,it is similar,it crashes and freezes
2-due to fan evolving treschold,a game of 99 score easily loses more than 600K fans while a score of +105 hardly gains 500K fans;this give me the idea so i decided to delete from right panel all games with negative fans(it is barely scrolling with mouse wheel because there are enormous games on sales market) I thin

[2021-05-07 16:13] ea76 commented on #598
5- of course i am not sure with this strategy of removing from market some games i can pass all the months remaining...

[2021-05-08 09:04] xsellier commented on #598
I'm really sorry about that issue.
I mean you are the only player who has a savegame over 20 Mb. Good news is you helped me fixing  a lot of issues, and Im really thankful for that!
I tried your savegame and it seems to run fine on my computer, I haven't tried on windows yet (just moved into a new home, so I haven't setup everything yet). I'm gonna try it out as soon as I receive a new desk. I can

[2021-05-08 09:48] ea76 commented on #598
hi,
i am glad that i forced the limits of the game so that you fixed those issues.
according to what you said then, either the problem still continue with windows or this game needs a little better computer than mine at least,
meanwhile i wish you a new good life in your new home !

[2021-05-08 09:51] ea76 commented on #598
by the way after our last contact  i managed to play 1 year more with my strategy until i sleep :)

[2021-05-11 07:42] FolioNov9m commented on #602
Honeslty it smells like casual arcade from smartphones imo. + if I create 3-4 games in the same time, last thing which I want - read a lot of alerts. It will be a routine

[2021-05-11 10:46] FolioNov9m opened #605 "Suggestion: Post-mortem and rating history for ports"
After port released we have four ratings. Thing which is could be really useful is have a post-mortem for ports + ports rating in game history to compare with original platform

Cheers!

[2021-05-11 13:24] FolioNov9m opened #606 "Suggestion: Higher buildings"
The highest skyline able to build = **750m**. Autofurnish create **47** workplaces in this height.
Problem that we need **100** workplaces to create **AAA** game.
So even if administrative staff like producer placed in separate building, we need 3 buildings at least (47+47= 94 + any building 6+ developers)

At the same time, I see buildings higher 750m few times. Not often but it exists on game ma

[2021-05-11 16:41] ea76 commented on #598
hi again,
good news is that i finished the game,however bad news is that after seeing how it calculated the score,i wish i didnt play the game at all,this is the worst gaming experience in my life,,what happened to sore calculation of this game ???

1-whatever you produce in one month it only calculates 5 thing per month,for example if competitors used your engine that month 5 times that's all you

[2021-05-11 17:07] xsellier commented on #598
Hey you again :)

I'm glad you finished the game, but Im sorry you didn't like the score computation.

1) It shows only the first 5 items, but it computes all the game published in a month, no worries about that.
2) This can be adjusted.
3) So, there are points for engines, contracts and consoles but becausse you have published a lot of games you dont see them (the game shows only 5 items per mont

[2021-05-11 17:13] xsellier commented on #598
I'm also surprised you didn't get more than 1.5m

[2021-05-11 17:19] ea76 commented on #598
you know better of course but i am sure there is somthing wrong with this calculation,i watched month by month it gave me such little points that i am pretty sure it didnt calculate all my games etc...,also if i knew about the difficulty difference when scoring, i of course play it in hardest mode because after 1000 hours i think i am expert unluckily(my previous 1,28M score was from hardest mode)

[2021-05-11 17:25] ea76 commented on #598
for example near the end of 2019 i produced 170 games in 1 month in order to score more as after this date no game will be able to finish the right time for scoring but nothing changed in calculation a similar little point again like each month

[2021-05-11 17:26] xsellier commented on #598
I'm looking at the score computation algorithm at the moment.
- Indie game: 50 points * score / 100.0
- Normal game: 100 points * score / 100.0
- Big game: 200 points * score / 100.0
- AAA game: 500 points * score / 100.0
- Game genre unlocked: 5 points (per genre unlocked)
- Platform unlocked: 15 points * platform generation
- Game engine: 3 points * (CPU capacities + GPU capacities)
- Digital st

[2021-05-11 17:28] xsellier commented on #598
I think that your score is way above 2 147 483 648, and that is why it hasn't been uploaded on Steam. I mean Steam compute only scores on (2 ^ 32 bits signed).

[2021-05-11 17:29] ea76 commented on #598
there is 3M the leader

[2021-05-11 17:29] xsellier commented on #598
3 millions, but I think you went over 2.1 billions

[2021-05-11 17:30] ea76 commented on #598
you mean billion ???

[2021-05-11 17:30] xsellier commented on #598
I mean you scored over 2 billions yes, but because of that issue https://github.com/binogure-studio/city-game-studio-i18n/issues/68 your score hasn't been uploaded.

[2021-05-11 17:32] ea76 commented on #598
i expext max 5M hahaha

[2021-05-11 17:32] ea76 commented on #598
is it possibile to see this somehere or fix???

[2021-05-11 17:34] ea76 commented on #598
but when i see the end of computing after game it only wrote 1,5M

[2021-05-11 17:37] ea76 commented on #598
first i didnt realize,i am really shocked that you mentioned billion,i couldnt believe

[2021-05-11 17:40] Killerjosiah908 opened #607 "Suggestion: More End-Game Content"
**Is your feature request related to a problem? Please describe.**
I think you should add a scale for how long you want the game to go,(e.g. 30 years, 40 years, etc.)
I think you should add hardware feature like:
2017: Buggy Ray Tracing. Cost: 1,000,000, Cost Per Unit (CPU): $100.
If you are the first to release a console and implement ray tracing in a game, you get more customers even if the pric

[2021-05-11 17:46] xsellier commented on #598
I testing your savegame to see your score, but it takes a while to end one year >_<

[2021-05-11 17:48] ea76 commented on #598
yes it takes too much time sorry the inconvenience that i caused you :(

[2021-05-11 18:39] xsellier commented on #598
So I tested your savegame and you are right. You made only 1.28 million points, not 2.1 billions.
Regarding your savegame, you mostly made indie and normal games, a lot of contracts.

To optimize your game score you should:
- Make more AAA games with bigger team and port them to compatible platforms. Since a gameport score is based on its required points, you will make tons of points with a single

[2021-05-11 18:46] ea76 commented on #598
are you looking right game? 1.28 is my previous game not this game

[2021-05-11 18:50] ea76 commented on #598
how many person should be in AAA team ideally ? is 200 person not sufficient for a single AAAgame?

[2021-05-11 18:54] xsellier commented on #598
100 employees are required, but if you assign more they will produce more points, then you port them to other platforms and that is how you achieve 3M + scores

[2021-05-11 19:02] ea76 commented on #598
ok you are the boss,if scoring is computed like this i cannot say anthing
but i honestly think that this game deserves more point; and i am confused because this latest game score cant be the same as previous game: 1,28M

[2021-05-12 13:03] FolioNov9m opened #608 "Suggestion: Game Engine New Feature"
I mean this features:

![image](https://user-images.githubusercontent.com/80094976/117978335-6cd05600-b33a-11eb-8a4b-40e0bd3029c6.png)

- **customizable weapons** - 1999 (not sure about year), Compute capabilties: 4 Graphic capabilties: 1 (or something like this / your opinion)
- **visual weapon changes** - 2003 (or different), Compute 2 (4 - ?) Graphic - 4 (or different)

These features by hierar

[2021-05-12 15:20] FolioNov9m commented on #608
More Features:

- **alternate ending** (compute cap. 4 ? ) >>> **alternate story** (compute cap. 8 ? ) >>> **interactive story** (compute cap 10 ? )

_Alternate ending - a small difference like ending of Jedi Academy, Far Cry 4-5, Prey, etc._
_Alternate story - bigger case like Witcher 3 factors or Until Dawn_
_Interactive story (not sure about name) - huge case like Detroit or Baldur's gate, etc.

[2021-05-12 20:19] ghost opened #609 "Suggestion: An option to disable a rather long mail animation"
**Is your feature request related to a problem? Please describe.**
It can be annoying to have to wait for new mails to appear in the upper right corner after hearing the notification sound.

**Describe the solution you'd like**
An option in the game settings to turn off animation for mails, or maybe just generally make it faster.

**Describe alternatives you've considered**
I haven't thought of an

[2021-05-12 20:22] ghost commented on #609
Same goes for animation when discarding a mail (right click for example) - other mails "bounce" so you can't right click a few times to discard all mails without having to wait

[2021-05-13 01:22] ghost commented on #582
Would like to bump this, it can be quite annoying :)

[2021-05-13 12:40] Zebbidoo opened #612 "Suggestion: Features for own consoles"
Making your own consoles is great! It is a great feature, but there are a couple of things I would like to suggest, as I feel they would make distributing your own consoles better.

First, it would be great if you could bundle a game with your consoles, thus helping to spread that game and hopefully gain fans.

Secondly, I find that occasionally I sell my own console in many thousands, but the one

[2021-05-13 17:49] GGplays commented on #608
Its a good suggestion

Atte: Engine Features (mod) Creator

[2021-05-13 17:52] GGplays commented on #606
Signed

[2021-05-14 14:01] FolioNov9m commented on #608
- 2.5d feature
- 2d isometric feature
;)

[2021-05-17 06:57] xsellier commented on #608
Nice suggestion,
You can already implement them by using the modmaker:
https://modmaker.city-game-studio.com/

This part:
![image](https://user-images.githubusercontent.com/6616005/118444823-efb43080-b6ed-11eb-9120-7bc478f11039.png)

[2021-05-17 08:00] FolioNov9m commented on #608
thanks, I missed this case

[2021-05-17 09:41] FolioNov9m opened #613 "Bug: Features generation"
Are you sure that limitation of Features generation is active?

Consoles like Handboy (1989)
![image](https://user-images.githubusercontent.com/80094976/118467966-f30ae480-b70c-11eb-8c57-bf4b569b685d.png)

and Neo-Ceo (1990)
![image](https://user-images.githubusercontent.com/80094976/118468028-01f19700-b70d-11eb-9bec-48b6c9069f69.png)

supporting 3d 32 bit graphics which able in 2001 only.
Also I

[2021-05-17 09:43] xsellier commented on #613
feature generation is not a limitation. It helps the game to compute the game score.
Let's say you've made an engine with a gen 9 feature in 1990, then it is going to expect you to make a 9th generation game (meaning you'd better don't do that unless you want the game to become harder).

But there is a way to make the game easier, make a 1st generation feature that cost pretty much nothing to dev

[2021-05-17 09:43] #613 closed, assigned to xsellier

[2021-05-17 11:09] xsellier commented on #612
Hey,

Thank you for the suggestions.
Regarding point 1, it's already been suggested: https://github.com/binogure-studio/city-game-studio-i18n/issues/421
About point 3, it's already been suggested: https://github.com/binogure-studio/city-game-studio-i18n/issues/603

Regarding point 2, it is all about the number of unit sold. If you've sold only few thousand of consoles, you cannot expect to make a

[2021-05-17 11:09] #612 closed, assigned to xsellier

[2021-05-17 11:09] xsellier commented on #595
It's been added already ;)

[2021-05-17 11:09] #595 closed, assigned to xsellier

[2021-05-17 11:17] xsellier commented on #343
So it's been a while since we started this conversation.
And the game has evolved quite a bit. For example the perfect formula is not enough to make a great game.

Now you need to have a great engine, also to have the perfect match between genre/platform, also between genre/theme, and between platform/targetted audience. Plus, staff capacities matter and also there is a slider randomizer (not 100%

[2021-05-17 11:22] FolioNov9m commented on #343
As you can see, I have many grey sliders, but my game is rock
![image](https://user-images.githubusercontent.com/80094976/118480403-dd042080-b71a-11eb-81b8-f938aae95359.png)

and vice versa
![image](https://user-images.githubusercontent.com/80094976/118480606-22285280-b71b-11eb-8531-39f74f6813dd.png)

So imo there are a good random in a reasonable limits

[2021-05-18 06:51] FolioNov9m commented on #608
https://steamcommunity.com/sharedfiles/filedetails/?id=2490100031

[2021-05-18 06:51] #608 closed, assigned to xsellier

[2021-05-19 16:17] FolioNov9m opened #614 "Suggestion: F2P and MMO rethink"
1) Despite IRL F2P games are extra-profitable, they are poor in CGS.
Ingame purchases not realized deeply, transactions are not clear (I wrote about this in Discord as you remember)

+ it possible to add microtransaction manager for current system. To add group things and manage their price, not single things only

This is the activity of F2P game (no game price, no sub. price), which have 4 cosme

[2021-05-19 16:25] FolioNov9m commented on #614
screenshots from save played on the eaisest difficulty btw

[2021-05-21 12:15] FolioNov9m commented on #388
I added almost all themes (which deserved) from the lists (one of them I wrote before actually, lol)
There are 41 themes in the mod, which not duplicate original or Beahl Megapack

[2021-05-24 13:15] DoltenBolten commented on #582
@Yardanico He hasn't forgotten https://github.com/binogure-studio/city-game-studio-i18n/projects/2#card-58952237

[2021-05-25 13:45] FolioNov9m commented on #599
What about appointed Producers as responsible staff ?
Marketing manager is working by (almost) finished product, and Producer is responsible for a developing and **_conception_** too

[2021-05-25 13:52] FolioNov9m opened #615 "Suggestion: List your studios - CANCEL ALL"
I used button to 'select all' when created an AAA games.
I need to choose one studio only. Could you make please something like

If all studios are selected already, 'select all' = cancel all?
I play by many studios and the easiest way to cancel all before new selection

![image](https://user-images.githubusercontent.com/80094976/119509255-27b81500-bd79-11eb-95bd-a25579478f5f.png)

[2021-05-28 10:40] FolioNov9m commented on #599
@xsellier
Advanced thing.
It will need a long text to explain fully.

Main idea of this feature that player has a game concept (theme or genre) and he wants to know how this concept matches with specific theme/genre and specific platform.

Advanced thing - player have no concept, but he wants to public ANY game for specific platform.
In second case request to analyze interested platform and take ~

[2021-06-02 09:38] FolioNov9m commented on #571
Concerning Stealth. Is Infiltration (Puzzle subgenre) = Stealth ?

[2021-06-03 04:24] ThisNekoGuy commented on #571
@FolioNov9m I personally wouldn't consider them the same

There are infiltration gamea that exclusively prioritize that style of stealth and inhibit or prohibit other methods of gameplay; in a way, it's more hardcore than just stealth games that give you stealth as an option

A great example would be Styx: Master of Shadows vs "newer" Splinter Cell games

[2021-06-03 09:27] FolioNov9m commented on #571
Well SC is TPS in this way?

[2021-06-03 21:20] ThisNekoGuy commented on #571
I mean, you could consider it that, but if it bothers you I could compare Styx to Hitman

Styx basically makes it impossible to proceed if discovered unless you escape but Hitman *does* make it possible to go loud even though that's not what the games try to reinforce

[2021-06-04 07:14] FolioNov9m commented on #571
I didn't play Styx and don't know Styx game mechanics. Styx = Infiltration or what you try to say?
Anyway I asked about stealth before, but I don't want this more. because I realized how many things need to update, for modders too.

Also I asked for Card game like Gwent or Heartstone, but imo CGS just have no mechanic for F2P games like Cardgame or Battle Royal or MMORPG. Mb in CGS2 will be

[2021-06-06 00:51] 101nemesis opened #616 "Suggestion: Sales of Competitor Games"
_Reposting this from Steam as per recommendation from the developer themselves._

I think the weekly game sales ranking should also show weekly sales of each game on the list (yours as well as the competitors) **as well** as total sales of all games (for everyone).

It'll be nice to compare your game sales to your competitor's and it would also be a goal we can have to try to surpass when we see a

[2021-06-07 08:44] xsellier commented on #615
Implemented on my machine, might be available later today or this week

[2021-06-07 12:34] FolioNov9m commented on #615
perfect! The ticket can be closed :)

[2021-06-07 12:37] #615 closed, assigned to xsellier

[2021-06-12 00:38] bringer4354 opened #617 "Produce Game during console Development"
I would like to suggest adding a feature that allows your company/studios to be able to work on producing games for your custom console that you are creating so you can have games for it as soon as it releases. unless you can do this now and im missing it.

[2021-06-12 05:53] xsellier commented on #617
Hey,

Thank for this suggestion and I'm glad to announce that's already available in City Game Studio!

[2021-06-12 05:53] #617 closed, assigned to xsellier

[2021-06-15 00:07] GodOf1ce opened #618 "Suggestion: Allow research of engine technologies and console components"
Instead of simply unlocking components as years pass, allow studios to research components and technologies at any time in the game as long as the previous tech has already been unlocked. Also adjust ratings to account for advanced tech and allow players to buy/sell component research to other companies. This would add a new element to the game and reward players for investing time into developing

[2021-06-15 06:02] xsellier commented on #618
Hey

Thank you for the suggestion but it's been made like that by choice, it is a design choice, and I'm not willing to change that.
Closing.

[2021-06-15 06:02] #618 closed, assigned to xsellier

[2021-06-18 10:00] FolioNov9m opened #622 "Suggestion: Conventions after endgame"
I like CGS and play even in 2030s. There are no many new activities, so could you please return generate conventions after game is over? Just the same, which existing in final year?

[2021-06-18 10:03] xsellier commented on #622
Thank you for the suggestion.
It looks like this one:
https://github.com/binogure-studio/city-game-studio-i18n/issues/583

It's about procedurally generating new conventions and platforms for after year 2020.
Closig this ticket since it's attached to the other one.

[2021-06-18 10:03] #622 closed, assigned to xsellier

[2021-06-18 10:05] xsellier commented on #590
doable using the in-game console indeed.

[2021-06-18 10:08] xsellier commented on #605
Normally there is only one rating for game-port. But you should get the match between genre/platform at least.

[2021-06-18 10:09] xsellier commented on #606
This limitation was due to poor optimization. Since I optimized it lately, I can change that. It might be aprt of the v1.1.0

[2021-06-18 10:10] FolioNov9m commented on #606
It's great news! Many thanks!

Yeah for now I see building 900m+ even! 👀

[2021-06-18 10:11] FolioNov9m opened #623 "Bug: Microsoft platforms issues"
I wrote about them by ingame Bug Report. Just in case, I structure here.

1. Windows 11 issue. After Win10 discontinued, there are no growth of market share for Win11.
**Needs - fix Win11 market share**

2. Xbox Series X has poor sales. In fact you have a different situations, because there are 2 platforms - Series S and Series X. And S is very popular already. Anyway, as I understood, sales of Se

[2021-06-18 10:11] xsellier commented on #609
I'm here, it is going to be implemented no worries!

[2021-06-18 10:15] FolioNov9m opened #624 "Bug: Tutorial reset"
After you updated tutorial, this option is resets for active in every new launch

![image](https://user-images.githubusercontent.com/80094976/122545980-2788fd80-d037-11eb-9f44-b4299def71b2.png)

[2021-06-18 10:16] xsellier commented on #623
1. Adjusted locally
2. Won't fix: Regarding Xbox series X it is normal since there are not so many consoles sold IRL:
<https://www.denofgeek.com/games/xbox-series-x-ps5-2021-console-war-sales/>
3. Fixed locally

[2021-06-18 10:18] xsellier commented on #624
Thank you, fixed locally, update coming.

[2021-06-18 10:18] #624 closed, assigned to xsellier

[2021-06-18 10:25] FolioNov9m commented on #623
- PS5 = 7.6 mln
- Switch = 7.6 mln
- Xbox Series X/S = 5.8 mln

Screenshots from my save 2030 year

![image](https://user-images.githubusercontent.com/80094976/122546856-0d035400-d038-11eb-8252-694f05c20424.png)
![image](https://user-images.githubusercontent.com/80094976/122546882-155b8f00-d038-11eb-8cf1-34a9e7cd5ad8.png)
![image](https://user-images.githubusercontent.com/80094976/122546901-1a2043

[2021-06-18 10:27] FolioNov9m commented on #623
btw Switch is lower PS5 too

[2021-06-18 10:34] FolioNov9m opened #625 "Suggestion: Filter for traditional publishers"
As we told in Discord, filter just like in contracts for traditional publisher will be very useful.
If it easy to integrate, of course

[2021-06-18 10:37] xsellier commented on #623
Switch has sold over 80 millions unit:
https://venturebeat.com/2021/05/06/nintendo-switch-hits-84-59-million-units-sold-with-28-8-million-sold-this-past-year/

PS5 ~8 millions
Xbox series X ~3 millions

I will keep updating those numbers accordingly to real numbers

[2021-06-18 10:45] FolioNov9m commented on #623
Citation https://venturebeat.com/2021/05/06/nintendo-switch-hits-84-59-million-units-sold-with-28-8-million-sold-this-past-year/

_The gap at that time would suggest that the Xbox Series X/S is trailing the PS5 by roughly 2 million units (if we round up to account for the additional time that’s passed since that report), which means that about **5.8 million Xbox Series X/S** consoles have likely b

[2021-06-18 14:40] FolioNov9m opened #626 "Suggestion: Rework competitor (let them grow faster too)"
Don't found any mentions of - Rework competitor (let them grow faster too) in Github, only TODO list in Discord.

Feedback about competitors.
the obvious disadvantage is bad games. I shared in May screenshot of my console, where ~10 games of score 90-100+ of my studios and one game score ~65 of competitor. I would like to see more activity, especially when playing with mods, when competitors are 3

[2021-06-20 13:18] FolioNov9m commented on #623
Hey,

new info from 2030

Skylight 43.65% - good

PS4 9.48% - strange

Switch 7.44% - not enough?

Xbox One 2.64 - strange

PS5 - 0.70% o_O

Xbox SX - 0.35% o_O

I used bugreport to sent you this save

[2021-06-20 17:00] FolioNov9m commented on #606
is it possible to type a number manually?

![image](https://user-images.githubusercontent.com/80094976/122682475-34a61800-d202-11eb-83e3-50131138c2cc.png)

[2021-06-20 17:25] xsellier commented on #606
You cannot but you can use your keyboard to move it (right/left arrow)

[2021-06-20 17:43] FolioNov9m commented on #606
oh thx its useful too!

Arrows don't working, but mouse scroll is

[2021-06-20 17:43] #606 closed, assigned to xsellier

[2021-06-22 11:16] FolioNov9m opened #628 "Suggestion: Game development during process of creating a console"
We can buy license of a platform and start to develop a game before console released.
This is cool feature, and strange, that it's no able to create games for OWN console in the same way.
Is it possible to improve this?

Cheers!

[2021-06-22 12:55] xsellier commented on #628
You can already do this. Since you can start making games before you release your console.
When you get an announcement for a console, it means it is ready to be released but there is no ame available on it yet. So you can start making game for that platform.

You can do the same for your own console, once ready don't release it immediatly, just hold, and make games. Then yo ucan release everythin

[2021-06-22 12:55] #628 closed, assigned to xsellier

[2021-06-23 17:49] #605 closed, assigned to xsellier

[2021-06-23 17:50] #574 closed, assigned to xsellier

[2021-06-23 17:51] #570 closed, assigned to xsellier

[2021-06-23 17:51] #555 closed, assigned to xsellier

[2021-06-23 17:51] #548 closed, assigned to xsellier

[2021-06-23 23:25] GGplays commented on #626
Cgs 2?

[2021-06-26 10:01] FolioNov9m opened #630 "Suggestion: Automark for store"
This:

![image](https://user-images.githubusercontent.com/80094976/123509507-993bf980-d67e-11eb-9508-46796c064bc8.png)

Sometimes just forgot to check mark, so mb make this automatically for able platforms?

[2021-06-30 08:10] xsellier commented on #630
Implemented, should be available later today, thank you for that tip!

[2021-06-30 08:13] FolioNov9m commented on #630
thank you for this fix! ;)

[2021-06-30 11:59] f-80 opened #631 "Suggestion: Add "development start date" line"
Just right there

![Снимок экрана 2021-06-30](https://user-images.githubusercontent.com/86722149/123956616-8cd3db80-d9b3-11eb-9c5b-df2131146eba.png)

[2021-06-30 17:25] FolioNov9m commented on #630
Looks like after update mark is auto set, but store is empty still :(

I send you bug report into game

[2021-06-30 17:26] FolioNov9m commented on #630
Update sorry, it looks like rating is broken

![image](https://user-images.githubusercontent.com/80094976/124005166-70e72e80-d9e1-11eb-998f-7961fa258e69.png)

![image](https://user-images.githubusercontent.com/80094976/124005196-78a6d300-d9e1-11eb-8585-b19716f126c8.png)

[2021-06-30 17:27] FolioNov9m commented on #630
And no profits

![image](https://user-images.githubusercontent.com/80094976/124005293-907e5700-d9e1-11eb-8bd4-ee840dddb66b.png)

[2021-06-30 17:29] FolioNov9m commented on #630
Games in Store have negative fanbase reaction xD

![image](https://user-images.githubusercontent.com/80094976/124005576-ec48e000-d9e1-11eb-8d8e-40548ecb4f42.png)

[2021-06-30 17:52] xsellier commented on #630
This ticket contains too many differnt topics. I have to lock it.

Regarding the fanbase, it is not a bug, you can lose fans, that's normal.
Regarding profits, I'm gonna have a look at it.

[2021-07-01 10:11] xsellier commented on #630
Thank you for the report.

I'm now unlocking this ticket since the feature has been implemented and reported bugs fixed with rc21.

[2021-07-11 11:36] Le-Captain opened #632 "Suggestion: Yearly financial overview"
This would provide you with just a little bit more financial insight (which isn't necessary, but always fun in a simulation game).

Example: https://imgur.com/a/adXeBjC

And when selecting years, the months would instead be the numbers for each year.

[2021-07-11 19:00] FolioNov9m opened #633 "Suggestion: License for traditional publishing?"
Do we need to buy license for traditional publishing?
A game is not us, it's just a contract for developer, so competitor must have license?

[2021-07-12 07:56] xsellier commented on #633
Hey,

When you need to make a game for a console you dont' own, you better buy it. That's why you get money to develop the game.

Yes you need to buy license of the platform for traditional publishing. On the bright side, they offer you money to do so.

The competitor doesn't need to own a license, but by default it does own it, made it happen anyway.

[2021-08-01 11:51] xsellier opened #634 "Suggestion: Console marketing campaign"
Add a specific marketing campaigns for consoles to send devkits to ompetitors so they *might* release games on your console.
This suggestion might come with the v1.2.0 (or 1.3.0 no sure yet).

[2021-08-06 18:23] Saputo228 opened #635 "Suggestion: Remakes of Older Games"
Can you make it so if you have a much older game that was a hit and you have made sequels of or have not made sequels of, Make it so you can go back to it and make a Remake or Remaster of the game. for the fans who loved it all those years ago.

Like for Example Diablo 2.
Now it is 2021 and we have Diablo 2 Remastered.

I think it would be a nice feature to have, instead of making a sequel and hav

[2021-08-06 18:28] xsellier commented on #635
Thank you for the suggestion. Since it has already been made, Im linking the original ticket and closing this one:
https://github.com/binogure-studio/city-game-studio-i18n/issues/351

[2021-08-06 18:28] #635 closed, assigned to xsellier

[2021-08-11 10:20] xsellier commented on #77
En se basant sur le fonctionnement des parts sur le système financier.
C'est à dire qu'on peut avoir 5 parts en vente a 100$, et la part suivante a 500$ (et ainsi de suite).

[2021-08-12 17:38] Manello opened #639 "Suggestion: Tooltips for the Advanced Start options"

[2021-08-12 17:55] xsellier commented on #639
May you add some description please?

[2021-08-18 21:55] ericstargamer commented on #400
Are you still thinking about this one?

[2021-08-19 14:53] xsellier commented on #400
It is easy to add, but I suppose that you want to make a description of your game and being able to update it.
So it is doable, but I'm not doing a ticket on the roadmap atm since it is easy to add.

[2021-08-22 01:26] Eduardo-Junior opened #641 "Bug: PT-BR Translation with a mixed word from PT-PT translation."
I was digging through the PT-BR translation file to correct some errors I found and realized that even though the translation inside the file is correct, the game displays the translation from the PT-PT file for this specific word.

"Consola" should be displayed as "Console".

This extends to the following labels as far as I can tell (Better make sure it's not happening to every "Console" mention

[2021-08-22 07:26] xsellier commented on #641
Submitted an update just now, should fix everything thanks to your PR. Thank you!

[2021-08-22 07:26] #641 closed, assigned to xsellier

[2021-08-23 18:35] ghost opened #642 "Suggestion: Dark Mode for bright UI"
**Describe the solution you'd like**
A button that you can toggle so the UI becomes dark and doesn't blind you.

[2021-08-24 07:14] xsellier commented on #642
Nice suggestion already been made (I mean it is not called dark mode but it is really close to what you describe).
So I add a link and close this ticket for duplication:
https://github.com/binogure-studio/city-game-studio-i18n/issues/544

[2021-08-24 07:14] #642 closed, assigned to xsellier

[2021-08-24 17:01] sashacatalin opened #644 "Suggestion: Text Notifications (replace icons)"
Replace icon notifications with text notifications (display 5-10 then add a button to colapse/open extra window for more)
See linked image for a mockup:

<a href="https://ibb.co/4K8c69f"><img src="https://i.ibb.co/wBST93L/citygame.jpg" alt="citygame" border="0"></a>

[2021-08-24 17:55] xsellier commented on #644
That is a nice suggestion.

[2021-08-25 04:46] xulamos opened #645 "Suggestion: upgrade studio building"
i'm lazy to buy another building and do automatic build
i'm always frustated when i can't add more/ upgrade area for my starter studio and then i need to buy new area (spent more money for buy another area and renovated the new building)

**Describe the solution you'd like**
can you add feature so the player can add more/ upgrade area for hardest-insane level

**Describe alternatives you've consid

[2021-08-25 07:38] Ayumix3 opened #646 "Suggestion: Ultrawide Support/Stretch"
I saw in the Steam discussions that support for Ultrawide resolutions is limited/not doable cause of the Engine(Godot 2.1?).

Would it be possible to at least add stretching from 19:9 aspect ratio to 21:9 aspect ratio?

While of course full support would be better, having at least some options to remove the black bars on the sides would be nice.

**Alternativly:** Add an option to make the game "t

[2021-08-28 07:20] xsellier opened #647 "Suggestion: Review console selling algorithm"
Add the original prices of historical consoles.
Then when making a console give the oportunity to see the similar console prices.

Adjust the algorithm of console selling by looking at other consoles prices.

[2021-08-28 09:37] Yorunetsu opened #648 "Suggestion: New research tree"
The basic idea is the same as with original, opening new genres at a certain cost in points gathered from game development. However, only some of the genres should be a one-and-done thing, most are ought to lead somewhere related to them, so here I present a rough idea of what the full research tree may look. Also, the current genres seem like placeholders to me (especially the "Crook-like" and "H

[2021-08-28 10:09] Yorunetsu opened #649 "Suggestion: development tempo slider + work ethics reputation"
Right now, the grading process is not very intuitive, and I'd hazard a guess many people fall to the same wrong conclusion as I have, that the score penalty comes from
a) any deviation from hard-set slider positions
and
b) time spent on the dev stage counts by itself
After a somewhat heated discussion with @xsellier, I was proven wrong, so I'd like to request making it into something more obvious

[2021-08-28 14:06] Yorunetsu commented on #639
I think it's about mouseover tooltips so that you can hover over menu items like "Keep hints" and see what they mean.

[2021-08-28 17:26] kingofhell213 opened #650 "Adjustable Console Colors"
It'd be wonderful if, when developing a Console, we could edit and change the color of the console and controllers!

[2021-08-29 15:47] Yorunetsu opened #651 "Suggestion: saving all previous menu states"
Firstly, the new game menu. When you exit the game, then start it again and want to start a new playthrough, the CEO's name is saved from the previous start — but nothing else. It would be nice if everything else got saved, too: company name, icon, character, last difficulty setting, last map size, game speed, genre specialization, advanced start checkbox and its settings, enabled mods, everything

[2021-08-29 16:16] Yorunetsu opened #652 "Suggestion: Menu hotkeys"
Another quality of life request is to have menus and menu items triggerable by hotkeys.
For example, this is what I'd suggest for AZERTY layout:
![image](https://user-images.githubusercontent.com/89686166/131257012-0653cb90-51e5-4808-93e8-a0e60233be46.png)

Similarly, I'd love to switch between the tabs of the right ledger from keyboard (again, examples for AZERTY):
![image](https://user-images.gi

[2021-08-29 19:29] PwaPois opened #653 "Games whose main platform has been discontinued cannot be released even after port"
**Describe the bug**
Once you've finished developing a game, if the platform the game was originally developed on gets discontinued, you cannot release the game anymore even if you ported it to other platforms.

**Additional context**
In one of my games, I started making a console in 1998, by the time I had finished developing enough games for it, in 2000, I realized I poorly timed this new consol

[2021-08-30 17:51] xsellier opened #655 "Suggestion: Mod consoles"
Be able to add new console components such as power supply ventirad and stuff like that

[2021-09-01 02:36] II-Hitman-47-II opened #656 "idée et suggestion pour le jeux - idea and suggestion for the game"
J'ai plusieurs idée d'ajout pour le jeux.

1 Payer des concurrents pour qu'il publie des jeux sur le magasin dématérialiser en exclusivité.
2 Avoir la possibilité de modifier la taille du jeux en indie ou AAA ou gros sur les offre d’édition.
3 Pouvoir engager des développeurs connu qui nous donne un boost sur les ventes de jeux ou autre.
4 Pouvoir avoir un service d’impression pour la vente de jeu

[2021-09-01 14:49] PwaPois opened #657 "Rework game creation panel into a step-by-step process"
### Problem

There are a lot of things in the game creation panel. So many things everywhere in fact that you might just forget a thing or two when creating your game. This is a trend I've noticed in my own playthroughs and while watching streams of the game. Especially when you get into mid to late-game where you're working on multiple games at once, it isn't rare that while you think you've set

[2021-09-01 15:07] PwaPois opened #658 "Make the Sales report's update hype filtering a sorting function instead"
When you have 10+ games currently on the market, you have to scroll a fair bit in the sales report to look at all your games. If what you are looking for is the games that have the highest update hype, you have to go through your entire list, sometimes the filter might help to reduce that list, but other times not at all in the cases where all games have at least a bit of update hype.

Thus my sug

[2021-09-02 10:26] PwaPois opened #659 "Backwards compatibility on platforms"
In real life, we have the wonderful thing that is backwards compatibility, I realize you already have some sort of compatibility system between platforms when porting, however, I think it's just not deep enough.

# Backwards compatibility for custom consoles

![backward-compatibility-on-custom-consoles](https://user-images.githubusercontent.com/25114435/131826099-54e79d1d-038b-4b16-ae7f-fa4272f881

[2021-09-02 11:11] LDS32 opened #660 "Suggestion: cracked game"
I would like the game to have an event of people cracking your game if it is too expensive like game dev tycoon

[2021-09-02 12:15] xsellier commented on #660
Hey, it's been implemented already!

[2021-09-02 12:15] #660 closed, assigned to xsellier

[2021-09-02 14:26] xsellier commented on #626
It is done!

[2021-09-02 14:26] #626 closed, assigned to xsellier

[2021-09-02 14:27] #598 closed, assigned to xsellier

[2021-09-04 16:18] II-Hitman-47-II opened #662 "Suggestion: Pay competitors to publish games on the online store exclusively"
Payer des concurrents pour qu'il publie des jeux sur le magasin dématérialiser en exclusivité.
Pay competitors to publish games on the online store exclusively.

[2021-09-04 16:19] II-Hitman-47-II opened #663 "Suggestion: Publish AAA/Big game offers"
Avoir la possibilité de modifier la taille du jeux en indie ou AAA ou gros sur les offre d’édition.
Have the option to change the size of the game to indie or AAA or big on the edition offers.

[2021-09-04 16:20] II-Hitman-47-II opened #664 "Suggestion: Known developpers"
Pouvoir engager des développeurs connu qui nous donne un boost sur les ventes de jeux ou autre.
To be able to hire known developers who give us a boost on sales of games or other.

[2021-09-04 16:21] II-Hitman-47-II opened #665 "Suggestion: Physical copies"
Pouvoir avoir un service d’impression pour la vente de jeux physique, avec des étagères ou des palettes de stockage.
Be able to have a printing service for the sale of physical games, with storage shelves or pallets.

[2021-09-04 16:21] II-Hitman-47-II opened #666 "Suggestion: Subscription for Digital store"
Pouvoir mettre en place un abonnement sur le magasin dématérialiser et mettre des jeux dedans.
Be able to set up a subscription on the dematerialize store and put games in it.

[2021-09-04 16:22] II-Hitman-47-II opened #667 "idée et suggestion pour le jeux - idea and suggestion for the game"
Avoir la possibilité d'acheter partiellement un entreprise concurrente.
Have the option of partially purchasing a competitor's business.

[2021-09-04 16:23] II-Hitman-47-II opened #668 "Suggestion: Studios become off-shoot"
Avoir la possibilité d'engager un directeur pour un de nos bâtiment pour qu'il soit auto gérer, et qui nous face gagner de l'argent ou en perdre en fonction des publications de jeux qu'il font.
Having the possibility of hiring a director for one of our buildings so that it is self-managed, and who we face to earn money or lose it depending on the game publications they make.

[2021-09-04 16:23] II-Hitman-47-II opened #669 "Suggestion: Pay competitor to publish games on your console"
Payer des concurrent pour qu’il publie des jeux en exclusivité sur notre console et avoir la possibilité de vendre et négocier la licence sur la console.
Pay competitors to publish games exclusively on our console and be able to sell and negotiate the license on the console.

[2021-09-04 16:24] II-Hitman-47-II opened #670 "Suggestion: Change last year of CGS (2020) for 2025"
Augmenter la date de fin du jeux car si on ajouter en mod exemple une console en 2025 elle n'apparait pas.
Increase the end date of the game because if we add a console as an example in 2025 it does not appear.

[2021-09-04 16:25] II-Hitman-47-II opened #671 "Suggestion: Ouvrir plus le ModMaker"
Si c'est possible d'ouvrir plus le workshop ou le mod maker pour pouvoir crée des mods, se n'est pas un reproche mais je trouve qu'on et vraiment limiter pour faire des mods.
If it is possible to open more the workshop or the mod maker to be able to create mods, it is not a complaint but I find that we and really limit to make mods.

[2021-09-04 16:25] #656 closed, assigned to xsellier

[2021-09-04 16:26] PwaPois commented on #667
Cela est déjà dans la roadmap pour la mise à jour 1.4.0 https://github.com/binogure-studio/city-game-studio-i18n/projects/2#card-59015559

[2021-09-04 19:34] #667 closed, assigned to xsellier

[2021-09-05 08:19] xsellier commented on #525
Should be part of the next update! You can already try it by switching to the unstable steam branch,

Right click on City Game Studio, select properties, then Betas and click on Unstable.

[2021-09-05 08:19] #525 closed, assigned to xsellier

[2021-09-05 08:20] xsellier commented on #669
This should be part of this ticket:
https://github.com/binogure-studio/city-game-studio-i18n/issues/634

Closing tagging as duplicate.

[2021-09-05 08:20] #669 closed, assigned to xsellier

[2021-09-05 08:21] xsellier commented on #668
Duplciate of this ticket:
https://github.com/binogure-studio/city-game-studio-i18n/issues/409

[2021-09-05 08:21] #668 closed, assigned to xsellier

[2021-09-05 08:23] xsellier commented on #471
Thank you for the suggestion it's been part of City Game Studio for almost a year now :P

[2021-09-05 08:23] #471 closed, assigned to xsellier

[2021-09-05 08:24] xsellier commented on #214
Thank you for the suggestion.
It's been implemented with v1.1

[2021-09-05 08:24] #214 closed, assigned to xsellier

[2021-09-05 08:24] xsellier commented on #145
It's been implemented with v1.0

[2021-09-05 08:24] #145 closed, assigned to xsellier

[2021-09-05 08:25] xsellier commented on #98
Duplicate of this ticket:
https://github.com/binogure-studio/city-game-studio-i18n/issues/409

[2021-09-05 08:25] #98 closed, assigned to xsellier

[2021-09-05 08:26] xsellier commented on #85
Duplicate of this ticket:
https://github.com/binogure-studio/city-game-studio-i18n/issues/409

[2021-09-05 08:26] #85 closed, assigned to nobody

[2021-09-05 08:27] xsellier commented on #229
Implemented with v1.2.
You can try it already via the unstable Steam branch.
Right click on City Game Studio, select properties then on the Betas tab select Unstable.

[2021-09-05 08:27] #229 closed, assigned to xsellier

[2021-09-06 18:35] bringer4354 opened #672 "Suggestion to add randomize button for publish game offer"
I suggest maybe adding a button you can click when doing a publish game offer for your console. something that lets you random the type of the game along with the the theme together to make it easier and faster to pump out publish game offers for your console. it seems like when i make a console i spend alot of time just making publish game offers just to increase my market share of my console.

[2021-09-07 07:14] xsellier commented on #582
Implemented with the latest unstable version. Should be out within few fays on the main steam branch.

[2021-09-07 07:14] #582 closed, assigned to xsellier

[2021-09-07 07:17] xsellier commented on #407
New IT's been implemented with the latest version ie v1.2, not yet on the main steam branch but already available on the untsable Steam branch, Should be released within few days.

[2021-09-07 07:17] #407 closed, assigned to xsellier

[2021-09-07 07:18] xsellier commented on #663
Duplicate of this ticket:
https://github.com/binogure-studio/city-game-studio-i18n/issues/215

[2021-09-07 07:18] #663 closed, assigned to xsellier

[2021-09-07 07:22] xsellier commented on #609
So I reworked those, and it should be part of the net major update, ie within few days.

[2021-09-07 07:22] #609 closed, assigned to xsellier

[2021-09-07 13:57] xsellier commented on #432
Implemented with v1.1.0

[2021-09-07 13:57] #432 closed, assigned to xsellier

[2021-09-08 07:42] Zebbidoo opened #673 "Backwards compatible consoles/Updating consoles"
**Is your feature request related to a problem? Please describe.**
I would really like to be able to make my consoles backwards compatible with games from it's predecessor, a la Game Boy Advance or Playstation 2.
I'm also often frustrated when I want to make small changes to a console and have to develop it from scratch again. I would like to be able to make something like a Ps4 Pro, or Ps2 Slim e

[2021-09-10 20:18] Lapin-Ael opened #679 "Bug: Game of the year"
**Describe the bug**
Happen 2 times with me on different games. When i don't have a game to select as candidate for the game of the year, in the future the game will never ask me again to be candidate.
Tryed with, and without mods, so the mods are not in cause.

**To Reproduce**
Steps to reproduce the behavior:
1. Don't have a game produced running while the game of the year event start for the 1s

[2021-09-16 07:19] xsellier commented on #679
Hey,

Thank you for the report. I investigated and I was not able to reproduce that issue.
Do you mind sharing your savegame so I can check from your savegame what's happening?

[2021-09-16 07:19] xsellier commented on #673
Duplicate of:
https://github.com/binogure-studio/city-game-studio-i18n/issues/659

[2021-09-16 07:19] #673 closed, assigned to xsellier

[2021-09-16 07:32] Lapin-Ael commented on #679
I don't know what file is it, so i gave you all files in appdata roaming.
[CityGameStudio.zip](https://github.com/binogure-studio/city-game-studio-i18n/files/7175662/CityGameStudio.zip)

[2021-09-16 10:40] xsellier commented on #679
Just testid on my own cmputer, as you can see I started recording in Feb 2000, till March 2001.
And the game keep asking for GOTY's even if there is no game selected for the previous year.

I'm not able to reproduce the issue even with your savegames. I wonder if I understood it correctly
https://user-images.githubusercontent.com/6616005/133598066-1bf17b16-2b27-4c41-80a1-edafc68008c4.mp4

[2021-09-16 10:59] Lapin-Ael commented on #679
Ah... Weird ! Maybe its a bug on my side.. Anyway i count on launch a new game without mods with slow speed (the game is too fast for the phew evolving in console/features in normal speed, hard to manage). Will do that in phew days on a new computer (i'm going to vacancy) and will tell you if you want :)
Anyway, great responsivity, i will stick arround and look very closely to this game, the dev t

[2021-09-16 11:07] xsellier commented on #679
I noticed, from the logs you submitted, you encountered 2 crashes (at least), I fixed one, and I'm currently working on the second one.

The crash I fixed happened when you hack a competitor. The patch is not yet available, it will be part of the next major update, which might come within few weeks.

The other crash happens the first time you launched the game, for an unknown reason, The game star

[2021-09-16 11:14] Lapin-Ael commented on #679
Yes indeed, i seen that in my games ! Maybe all started from there, i will delete all my saves to retry a new game without hack when i can then :)
Nice reactivity, ive forgotten those crashes !

[2021-09-17 19:24] outlawtorn316 opened #680 "Suggestion: Creating Launch Titles for Custom Consoles"
My suggestion is a simple one really, much like how we can create games for consoles that have not launched yet, I find it odd that we cannot do the same with consoles that we ourselves are developing.  It's a bummer that for the first year or two of my console's life it's sales are stagnate as I rush to release and produce titles to give consumers a reason to buy my console.

It would be really h

[2021-09-17 19:42] PwaPois commented on #680
You can do the same. Once you've finished developing your console, you can start developing games for it. You do not have to release your finished console right away.

[2021-09-19 05:00] XViper123 opened #681 "Suggestion: Window to not minimize after starting a contract."
**Is your feature request related to a problem? Please describe.**
I find it frustrating having to frequently reopen the window when I have multiple studios I am wanting to assign to multiple tasks. (usually contracts)

**Describe the solution you'd like**
For the window to not minimize after starting a contract.
Perhaps a toggle option, meaning this can still be the default for people that want i

[2021-09-20 08:56] XViper123 opened #682 "Suggestion: An "are you sure" prompt when cancelling a game. :("
**Is your feature request related to a problem? Please describe.**
I just accidentally cancelled my first AAA game, when it was about 90% complete, because I wanted to reassign an idle studio to help complete. *poof* it's gone.

**Describe the solution you'd like**
For there to be a prompt of "are you sure"? when choosing to cancel a game. I expect it doesn't happen too often, so I don't think it

[2021-09-24 11:01] FolioNov9m opened #683 "Suggestion: 4bit graphics before 8bit"
We have 8bit graphics in 1978 already. Possibly is it better to use 4bit at first?
This is vanilla engine feature, so I don't think it's good to try modify this by users. So I'm asking for you.

Cheers!

[2021-09-25 16:08] FoaxZed opened #684 "Suggestion: Competitors can submit you messages to make a game"
An idea is that a company is able to reach out for you to do something, like "Make a game for our console" and they will give you an item such as a component they use in their games consoles. I think it would be a fun idea, not to forget that it'll make the mod have a quest.

Also, please make it that we can continue making a mod even when we've closed the mod maker? Simply dropping the .zip file

[2021-09-28 07:43] xsellier commented on #679
Found out the root cause, when there are less than 3 competitors, GoTy are disabled, I fixed it by adding a threshold for competition (won't buy out each others if there is less than 5 competitors.

[2021-09-28 07:43] #679 closed, assigned to nobody

[2021-09-28 07:44] xsellier commented on #670
En fait no peut ajouter des consoles après 2020 sans probleme, ceci n'a pas besoin d'être implémenté.

[2021-09-28 07:44] #670 closed, assigned to xsellier

[2021-09-28 07:50] xsellier commented on #310
Implemented, closing

[2021-09-28 07:50] #310 closed, assigned to xsellier

[2021-09-28 21:32] PinkGeeRough opened #685 "Bug: Studio Value is Higher than Competitor Buyout Price"
**Describe the bug**
When buying out competitors, you gain a large portion of fans as well as their studios. If you sell the studios you just earned, you make more money than you spent in purchasing the competitors. Income/Expense graph attached as screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Check Buy Price of Competitor
2. Buy out the competitor
3. See value of new studios
4

[2021-09-29 19:23] AmateurMoth opened #686 "Suggestion: Improve or make MMOs"
I wish you could add a MMO slider next to the Online Multiplayer to be able to pick between the two, and also be able to expand on it , with the MMO slider on, instead of what Online Multiplayer has, it could have unique features for example a MMORPG can have new classes or a MMO Drive is able to get new customizations and cars, be able to schedule when content or big patches come out for the base

[2021-09-30 08:22] xsellier commented on #351
Implemented in v1.3.0

[2021-09-30 08:22] #351 closed, assigned to xsellier

[2021-09-30 16:33] khorneflakez opened #687 "(cosmetic suggestion)Adding images to personalize a game"
This is something Mad Games Tycoon *kinda did. Based on how advanced your game was, it would assign you a relevant image... Problem was though, every new game would eventually have the same image.

So here's my suggestion: Please let us import images that we can assign to our game, so we can further personalize them.

[2021-09-30 19:58] ThisNekoGuy opened #688 "Suggestion: Dark Mode Option for CGS UI"
**Is your feature request related to a problem? Please describe.**
This isn't a particularly serious issue but a Dark Mode UI for the game would be greatly appreciated to avoid eye strain when playing for extended periods; it's one of the main reasons why I don't return to the game too often - most of the UI is pretty bright

**Describe the solution you'd like**
An optional Dark Mode for CGS's UI

[2021-10-01 13:41] xsellier commented on #685
Hey thank you, just added it, it will be part of the next major update ETA end of october.

[2021-10-02 11:44] FoaxZed opened #689 "Suggestion: Consoles HAVE to use a certain engine / certain part of an engine."
I'm making a mod which has a VR headset in it and I've noticed that it would work better if it required you to use an engine and / or engine components. For example, if you wanted to use this VR headset, you'd either need to use its original engine or incorporate features, e.g VR Graphics. It would be required for the headset and would be automatically enabled. I feel that this would make it feel

[2021-10-02 13:58] xsellier commented on #689
Hey,

Thank you for that suggestion.
I'm gonna have to tell you that a console implements API such as OpenGL ou Vulkan, or DirectX, but a console doesn't deliver/use any engine at all.
For exemple, when you make a game using godot Engine,unreal Engine or Unity3D, you can publish those games on any console (Ps4/PS5/XBoX or PC...).

Closing this ticket.

[2021-10-02 13:58] #689 closed, assigned to xsellier

[2021-10-02 14:46] PinkGeeRough opened #690 "Bug: Ad popup and Ad Banner activate the wrong revenue stream"
**Describe the bug**
I published a game with just "Ad Banner", but I get revenue stream for "Ad popups only"

**To Reproduce**
Steps to reproduce the behavior:
1. Finish Creating a Game
2. Tick "Ad Banner"
3. Keep "Ad Popup" unticked
4. Release
5. View Financial Tab

**Expected behavior**

**Logs**
Attach log files to this ticket:
[citygamestudio-9.log](https://github.com/binogure-studio/city-game

[2021-10-02 17:32] An0k4 opened #691 "Suggestion: Add option to toggle hold to confirm"
**Add option to toggle hold to confirm**
Please add an option to remove the lenghty hold button to confirm action. It can be anoying when trying to perform repetitive actions (like training an entire new studio)

[2021-10-04 23:02] GianluPlay opened #692 "Suggestion: Os"
OS as a new component, also can make your own OS to sell it to competitors or/and custom platform

[2021-10-04 23:04] GianluPlay commented on #683
Engine Features add that

[2021-10-04 23:05] GianluPlay commented on #666
It would be cool

[2021-10-04 23:09] GianluPlay opened #693 "Suggestion: X/Pro edition for consoles"
Can make a X/S/Pro/Deluxe etc version of a console, example: Tribox 3 100 CPU 85 GPU, Tribox 3 Pro 115 CPU 95 GPU

[2021-10-05 08:55] xsellier commented on #634
Implemented in v1.4.0

[2021-10-05 08:55] #634 closed, assigned to xsellier

[2021-10-05 08:59] xsellier commented on #690
Thank you for the report. Just fixed it in the unstable steam branch

[2021-10-05 08:59] #690 closed, assigned to xsellier

[2021-10-05 09:01] #685 closed, assigned to xsellier

[2021-10-05 14:53] GianluPlay opened #694 "Mod Maker Suggestion: Minus CPU/GPU and Generation 8"
Example: DiretcV 14 8 Generation -20 CPU -5 CPU

[2021-10-05 15:17] xsellier commented on #694
Let's be honest a technology won't _give_ more power, but will use less power/capacity.
I mean you cannot download any RAM can you?

[2021-10-05 15:17] #694 closed, assigned to xsellier

[2021-10-05 15:18] xsellier commented on #692
Just one question, what does it bring to the gameplay? What does it bring to the gameplay that custom platform doesn't?

[2021-10-05 15:19] xsellier commented on #693
Hey,

Thank you for the suggestion.
I'm wondering what does it bring to the gameplay? I know it would be cool, but beside that, what is the purpose?

[2021-10-05 15:21] xsellier commented on #687
Duplicate of https://github.com/binogure-studio/city-game-studio-i18n/issues/515

[2021-10-05 15:21] #687 closed, assigned to xsellier

[2021-10-05 15:24] xsellier commented on #683
Hey,

So I though about adding a 4 Colour feature for engines. But there is also 5 Colours, 6, 7, 8, 9, 10 ... till 32 colours available on platforms. So I took a shortcut and put a Mono Colors then 8bits 2D Colors.
Adding a 4 bits Colour is doable, and easily, but I'm not sure it is really interesting since there are only 2 platforms available in 1978.

[2021-10-05 15:27] xsellier commented on #686
Hey,

Thank you for the suggestions. Regarding MMO you can already make them in City Game Studio. When you make an online game, you need servers, then it is up to you to make it an MMO. As soon as you make a game online, you can think as it is an MMO.

Regarding expansions packs, you can publish DLCs and/or Free updates.

Regarding your suggestion, I have a couple of questions:
- What does it brin

[2021-10-05 15:29] xsellier commented on #607
Thanks for the suggestion. Just added procedurally generated conventions for post 2020.

[2021-10-05 15:30] xsellier commented on #530
Implemented in v1.3.0

[2021-10-05 15:30] #530 closed, assigned to xsellier

[2021-10-05 15:31] xsellier commented on #603
I'm working on it, should be out for v1.4.0. You can already try it out on the unstable Steam branch.

[2021-10-05 15:31] #603 closed, assigned to xsellier

[2021-10-05 15:32] xsellier commented on #666
Duplicate of https://github.com/binogure-studio/city-game-studio-i18n/issues/531

[2021-10-05 15:32] #666 closed, assigned to xsellier

[2021-10-05 15:33] xsellier commented on #379
Thank you for the suggestions, everything has been implemented and is already available!

[2021-10-05 15:33] #379 closed, assigned to xsellier

[2021-10-05 23:32] ThisNekoGuy opened #695 "Suggestion: Competitor Crossover Collaboration Requests"
**Is your feature request related to a problem? Please describe.**
It's not necessarily a problem, but I know that in the real world crossover collaborations (in one way or another) between companies for games isn't uncommon and I figured having competitors be able to interact with the player more like this would be a good idea for the player to strike deals with them and it helps flesh out the fe

[2021-10-06 01:02] GianluPlay commented on #515
Nice idea

[2021-10-06 01:06] GianluPlay commented on #694
Atleast can we have a generation 8 in mod maker?

[2021-10-06 01:09] GianluPlay commented on #695
Collabs with procedural generated competitors characters would be nice

[2021-10-06 01:37] ThisNekoGuy commented on #695
@EngineFeaturesOfficial I'm pretty sure generated competitors was recently added in the unstable builds but, yeah, that's partly my intention to keep gameplay dynamic, of course

[2021-10-06 09:34] IraqLobster34 opened #696 "Seasons and Battle Passes"
I think adding season mechanics would be a good idea. We can choose the length of the season and the number of levels in the battle pass. For example, a season lasts 2 months and there will be 100 levels in the battle pass. We can also change the price of the Battle Pass and the value of the rewards in it. I think that would greatly diversify the game.

[2021-10-06 10:16] ghost opened #697 "Suggestion: Preset for microtransactions"
**Describe the solution you'd like**
I'm thinking a load and save button for adding microtransactions with the module instead of having to add each lootbox and chest every time.

[2021-10-06 12:37] Zahamare opened #698 "Suggestion: City Game Studio port to a mobile"
I was playing City Game Studio on my PC, when I started to think. The interface is not so hard to understand and the game itself would be cool to see on the phone, like Game Dev Tycoon.
I hope this idea will be done, I really want to see the game on mobile and I really enjoy playing in it

[2021-10-06 13:29] GianluPlay commented on #634
1.4

[2021-10-06 14:27] xsellier commented on #634
You can try it out already if you switch to unstable Steam branch.

[2021-10-06 14:28] xsellier commented on #698
Thank you for the suggestion, it is a duplicate of : https://github.com/binogure-studio/city-game-studio-i18n/issues/604

[2021-10-06 14:28] #698 closed, assigned to xsellier

[2021-10-06 14:29] xsellier commented on #696
Closing in favor of this ticket (duplicate of):
https://github.com/binogure-studio/city-game-studio-i18n/issues/531

[2021-10-06 14:29] #696 closed, assigned to xsellier

[2021-10-06 14:30] xsellier commented on #697
Duplicate of https://github.com/binogure-studio/city-game-studio-i18n/issues/533

[2021-10-06 14:30] #697 closed, assigned to xsellier

[2021-10-07 16:12] FoaxZed opened #699 "Suggestion: Ability to add custom consoles for a game."
When making a game, just before you release it, you can add a custom component. This would work well for rhythm games and could potentially help with money and fans. You could also release a console with a component, so you could make your own Kinect. You can also make custom looking components in the mod maker, so that users can get more choices.

[2021-10-07 16:39] xsellier commented on #699
Hey,

Thank you for the suggestion.
However I need to understand, what does it bring to the gameplay exactly? Cant you already do something similar in CGS?

[2021-10-07 18:58] FoaxZed commented on #699
It can potentially bring in more income and allows for more engine features. If it's constant, you might lose fans. This is basically suggesting you can do something like make the Wii Mario Kart Wheel. It will also add some new engine features.

[2021-10-07 18:59] FoaxZed commented on #699
Also I think it's a good idea to mention that this isn't like the controller you can choose for consoles, just a controller for games / series of games.

[2021-10-07 21:09] PinkGeeRough commented on #699
I think instead of just adding consoles, you add accessories, like the Mario Kart Wheel, or like Pokemon do with pokeball throwing sensors. However they seem to be more console add-ons rather than just game.

Edit: Like an exclusive game/series add-on to a console

[2021-10-07 21:11] FoaxZed commented on #699
Yea, that's what I meant. Accessories for your game.

[2021-10-08 01:42] GianluPlay opened #700 "2 Suggestions"
First: cant customize the colour of a case added by mods
Second: can make money with the university opening it to public, you cant train your employees but you generate some money

[2021-10-08 07:33] xsellier commented on #700
Hey, thank you for the suggestion.

Usually it is one suggestion per issue.
For the first suggestion, it's already been suggested (duplicated):
https://github.com/binogure-studio/city-game-studio-i18n/issues/650

For the second one, it won't be implemented since making money from university is the not the main goal of managing a video game company (off-topic).

[2021-10-08 07:33] #700 closed, assigned to xsellier

[2021-10-09 10:46] rsf92 opened #703 "Suggestion: Open Sourcing games"
Hi, one feature I've thought of is that maybe you could open source games, i see two possible cases where this could be useful.

When the game is still on sale, it could provide a boost in fans while taking a bit of sales (for example 5% up and down if you just release the source code 20% if you release both the source code and the assets)

Also it could affect positively to the hype of a remake (

[2021-10-09 16:36] rsf92 commented on #703
Been thinking a bit more about this.

It could help with a 30-40% chance of a port to another platform (maybe just a Linux port)  being done by the community.

On the update side, it would probably make sense to have it provide a buff to certain aspects, like lowering the cost of optimising the game, enhancing the AI or development related aspects of the update.

Open sourcing a multiplayer game c

[2021-10-10 07:31] FoaxZed commented on #699
I'm just going to close this an explain this in another suggestion.

[2021-10-10 07:31] #699 closed, assigned to xsellier

[2021-10-12 15:46] shimenawa opened #706 "Suggestion: Add Japanese"
Greetings.

I'm not a game developer, but I'm developing software in Japan.
I've seen this game on a game article site before, and I'm enjoying it in English, but can I help translate it into Japanese so that Japanese people can enjoy it?

[2021-10-12 15:54] PwaPois commented on #706
This repository is specifically for this purpose, you can find the instructions on how to translate at https://github.com/binogure-studio/city-game-studio-i18n#readme

The developer will add your translations to the game once you're done and have sent a pull request with the new .yaml files.

[2021-10-12 16:24] xsellier commented on #706
Hey,

Welcome, and thank you for the suggestion.
So far there are 2 ways to add new languages.
1. Via the modmaker ( https://modmaker.city-game-studio.com ).
2. By forking this git repository and publishing a `jp.yml` file.

In both cases, you need to first duplicate this file:
https://github.com/binogure-studio/city-game-studio-i18n/blob/master/languages/en.yml

Then using this tool:
https://piko

[2021-10-12 16:30] #630 closed, assigned to xsellier

[2021-10-12 17:26] xsellier commented on #437
Coming with v1.4

[2021-10-12 17:26] #437 closed, assigned to xsellier

[2021-10-12 17:28] xsellier commented on #550
Duplicate of: https://github.com/binogure-studio/city-game-studio-i18n/issues/422

[2021-10-12 17:28] #550 closed, assigned to xsellier

[2021-10-12 17:30] xsellier commented on #409
This is coming with v1.4 (I'm working on it atm)

[2021-10-12 17:30] xsellier commented on #124
This has been implemented in v1.3.0

[2021-10-12 17:30] #124 closed, assigned to xsellier

[2021-10-12 17:41] xsellier commented on #328
Implemented in v1.4.0

[2021-10-12 17:41] #328 closed, assigned to xsellier

[2021-10-12 17:43] xsellier commented on #255
Everything has been implemented in v1.3.0

[2021-10-12 17:43] #255 closed, assigned to xsellier

[2021-10-12 17:45] xsellier commented on #330
Convention have been reworked with v1.0.0. Closing this ticket

[2021-10-12 17:45] #330 closed, assigned to xsellier

[2021-10-12 17:57] xsellier commented on #653
Hey,

Sorry for the late answer. That's not a bug but a design choice.
Otherwise you could simply port games fro 1976 on playstation in 1998 for example.
So, once the main platform is discontinued, you cannot port the game on any other platform. On t he bright side tho, you can make a remake of your old games.

[2021-10-12 17:58] #653 closed, assigned to xsellier

[2021-10-13 08:36] xsellier commented on #706
Traduction will be available with v1.4, ETA end of october.

[2021-10-14 18:33] GianluPlay opened #709 "Mods can change the reviewers Name"
Same as title, Mods can change the reviewers name or add a new reviewer

[2021-10-18 01:39] tomas966 opened #711 "Suggestion: Is there any way to shorten the game development time?"
Is there any way to shorten the game development time?

I hope that the game development time will be reduced in proportion to the employee's satisfaction or proficiency.

[2021-10-18 02:46] GianluPlay commented on #711
If you put the slider settings to minimum you will make a game in a month or two

[2021-10-18 03:50] tomas966 commented on #711
That way, the quality and scale of the game are lowered.

[2021-10-18 06:29] FoaxZed commented on #711
I think that’s the point. Making development time lower will cause a drop in quality. That’s how it works in the real world, so I think the game wants to mimic that.

[2021-10-18 07:22] tomas966 commented on #711
In reality, the quality of the product does not depend on the product development period.

A: A product developed and made by geniuses for 3 years.
B: A product developed and made by idiots for 5 years.

Which product would be good?

I think product A will be excellent.

[2021-10-18 07:32] xsellier commented on #711
Sorry to say that but you're wrong. The development time impacts the game's quality by a lot.
There is a very famous quote about a very talented game designer:
http://www.knowyourquotes.com/A-Delayed-Game-Is-Eventually-Good-But-A-Rushed-Game-Is-Forever-Bad-Shigeru-Miyamoto.html

however a development that lasts forver will also make a bad game, if we look at you Duke.

[2021-10-18 07:41] tomas966 commented on #711
I think your opinion is also right.

However, considering the factor of productivity, wouldn't the same 10 employees have different speeds of completing the development?

[2021-10-18 07:42] xsellier commented on #711
if you take 9 women to make one baby, would you be able to make one in a month? (that's an image)

[2021-10-18 07:51] tomas966 commented on #711
If 10 to 100 people work with the same goal, will it take the same amount of time to achieve the goal?

The duration of pregnancy can also increase or decrease depending on various environmental factors.

[2021-10-24 14:53] FoaxZed opened #714 "Suggestion: Fill all empty seats"
Just an idea for a cheat code in which if there is a desk that is unoccupied, it will hire a staff member (it will randomly choose what type) and the staff member would go there. I never really play this game with out using cheats so it would be quite helpful as constantly having to employ people is mildly annoying.

[2021-10-24 18:02] xsellier commented on #714
A command such like:
`employee autofill`

[2021-10-24 19:23] FoaxZed commented on #714
Staff autofill might work better as staff is already part of the command models.

[2021-10-24 21:20] GianluPlay opened #716 "Suggestion: New Awards (revamp GOTY system)"
New Awards like Best Indie, Medium, Big and AAA Game, this will boost the sales and give you some fans

[2021-10-24 21:22] GianluPlay opened #717 "A event can cause the resign of a Employee"
A Decision of a event can cause the resign of 1 or more employees

[2021-10-24 21:25] GianluPlay opened #718 "New Random Event: Rats"
Same as title, doesnt bring nothing to gameplay but it can make a employee to resign or low the productivity

[2021-10-29 09:28] xsellier opened #721 "Suggestion: Make a DRM-Free version of City Game Studio"
Get the game on GOG, and as soon as it gets a GO, publish a DRM-Free version on both GOG and Itch.

Requirement:
- Get accepted on GOG first.
https://www.gog.com/wishlist/games/city_game_studio_from_binogure_studio

[2021-11-05 01:28] GianluPlay opened #723 "Suggestion: AAAA games"
AAAA games, take from 3 to 8 years to develop
Requirements: 150 Employees, 1 Producer, 1 Marketing manager and 35000 fans
Boost of sales requirements: 120000

[2021-11-05 01:32] GianluPlay opened #724 "Suggestion: Fans"
Can put fans in the desktops of the employees, has monthly cost like the Coffe Machine
Benefits: More happiness, More productivity

[2021-11-05 01:37] GianluPlay opened #725 "Suggestion: Fan Mades"
Fans can make Fan Made games inspired in a Game that you launched, demand Fan Mades Games or just leave to them make what they want

[2021-11-05 01:44] GianluPlay opened #726 "Suggestion: New Marketing Campaigns"
Can make movies about games, it can be just like the Marketing Campaigns or it can be like the Create Game system, i think it can be like making remakes
Requirements: 100.000 dollars (depend in the duration of the movie) 1 Hour: 100.000, 1 Hour 30 Minutes: 250.000, 2 Hours: 500.000, also can boost the quality of the movie hiring  Expert Cameramans, An Expert Screenwriter etc etc, the other way of

[2021-11-05 01:47] GianluPlay commented on #693
If you are out of power in your platform you can make a new version of the platform, same case, same controller etc just with more power, it cost much less than a 100% new console but doesnt give you much more cpu/gpu

[2021-11-05 01:47] GianluPlay commented on #692
Have a custom OS make your platform unique, but elevate the cost of the platform in XX%, use a OS like vindows or lynnus doesnt elevate that much the price but there is a little royalty, the OS also give the platform a little bit more power, more power more royalty, this idea can be implemented but maybe cant make an own OS (OS isnt necessary be added to a platform, you can put no OS and you dont

[2021-11-05 01:53] GianluPlay opened #727 "Suggestion: Employees renounce later years of working"
How a employee that i bu... hired in 1977 is still alive in 2040

[2021-11-05 01:55] GianluPlay opened #728 "Suggestion: Country system"
Country system, i dont know how to detail this but, one like the Mad Games Tycoon 2 System

[2021-11-05 07:41] xsellier commented on #706
Added

[2021-11-05 07:41] #706 closed, assigned to xsellier

[2021-11-05 07:42] xsellier commented on #728
Duplicate of: https://github.com/binogure-studio/city-game-studio-i18n/issues/547

[2021-11-05 07:42] #728 closed, assigned to xsellier

[2021-11-05 07:42] xsellier commented on #726
Duplicate of https://github.com/binogure-studio/city-game-studio-i18n/issues/329

[2021-11-05 07:42] #726 closed, assigned to xsellier

[2021-11-05 07:43] xsellier commented on #723
Such things don't exist IRL.

[2021-11-05 07:43] #723 closed, assigned to xsellier

[2021-11-05 07:44] xsellier commented on #724
Duplicate of https://github.com/binogure-studio/city-game-studio-i18n/issues/96

[2021-11-05 07:44] #724 closed, assigned to xsellier

[2021-11-05 07:45] xsellier commented on #725
Kind of duplicate of: https://github.com/binogure-studio/city-game-studio-i18n/issues/238
This needs to be ellaorated, a single sentence isn't a new feature by itself. There is a template for suggestion please use it.

[2021-11-05 07:45] #725 closed, assigned to xsellier

[2021-11-05 07:46] xsellier commented on #718
Doable via mods (except for the resignation part).

[2021-11-05 07:46] #718 closed, assigned to xsellier

[2021-11-05 07:47] xsellier commented on #680
Implemented in the latest version.

[2021-11-05 07:47] #680 closed, assigned to xsellier

[2021-11-05 13:49] GianluPlay commented on #723
But if i invent AAAA games, maybe there can be a new type of building to research things like AAAA games

[2021-11-05 16:44] GianluPlay opened #729 "Suggestion: Own Console Case"
Can make the case of the Custom Platform like the logo of the company

[2021-11-05 16:47] GianluPlay opened #730 "Suggestion: Demo of City Game Studio"
A demo for city game studio, a basic free version of City Game Studio

[2021-11-05 21:41] GianluPlay opened #731 "Suggestion: Auto-Translation of mods"
Mods is translated automaticly

[2021-11-06 08:32] xsellier commented on #731
Such things don't exist. You need to translate them, I mean there is no magic wand for translations. Im really sorry, I wish it could be done automatically.

[2021-11-06 08:32] #731 closed, assigned to xsellier

[2021-11-06 10:59] xsellier commented on #730
Won't happen.

[2021-11-06 10:59] #730 closed, assigned to xsellier

[2021-11-06 10:59] xsellier commented on #729
You can do it via mods already.

[2021-11-06 14:36] GianluPlay commented on #729
Yes but isnt the same, this feature would be in the base game

[2021-11-06 14:36] GianluPlay commented on #730
Why

[2021-11-07 10:47] FoaxZed commented on #729
I think what he means is, it is something you can make a mod, so there is no need to put it in the base game. You can already do it, you just have to do it yourself.

[2021-11-08 10:12] xsellier commented on #730
Because I cannot afford working on a demo.

[2021-11-24 14:53] cwa-gif opened #734 "Suggestion: Genre specific game titles"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when [...] I forget to make my own game title and the title does not suit the genre/topic of the game at all

**Describe the solution you'd like**
random title suggestions to be categorized by preferable topic or secondarily genre (if doing by topic makes it incompatible with mods, but the genres are at least

[2021-11-24 15:02] cwa-gif opened #735 "Suggestion: regions"
**Describe the solution you'd like**
Would be cool if we had different regions where different genres were popular, and the option to release/make games only for one region/country

[2021-11-24 15:16] xsellier commented on #735
Does it differ a lot from your other suggestion?
https://github.com/binogure-studio/city-game-studio-i18n/issues/547

[2021-11-24 15:27] xsellier commented on #734
Hey,

Thank you for the suggestion. Normally you can rename a game just before releasing it.
I know you have to wait until its release before renaming it.

[2021-11-24 15:47] cwa-gif commented on #734
i just feel it would make it easier, and it would make more sense than a fps called sweet pokemon f.i.

[2021-11-24 15:48] cwa-gif commented on #735
no, the old one was marked as incomplete/need to saplit up, so i took what i thought was most important from it and reposted :)

[2021-11-28 04:10] Lioncandy08 opened #736 "Suggestion: Add/remove studio while making a game"
Every time a studios is doing an action/working on it, you can't add/remove any studios on the project. Can you implement the option to add/remove studios during the working phases?

[2021-11-28 08:20] xsellier commented on #736
Hey,

You can add/remove a studio from a project while it is in development since the v1.4.0.
Sometimes a studios can be stuck on a project for a week (or two). I suggest you to resume the game wait for a week and you should be able to add/remove studios (see update https://steamcommunity.com/app/726840/eventcomments/3043859446181481591 )

[2021-11-28 08:21] xsellier commented on #409
Implemented with v1.4

[2021-11-28 08:21] xsellier commented on #77
Implemented in v1.4

[2021-11-28 08:21] #77 closed, assigned to xsellier

[2021-11-30 15:18] GianluPlay opened #737 "Suggestion: Level of Piracy"
Every platform has a Level of Piracy from 1 to 5

First Level: This Platform has no piracy, it gonna have 0 impact on the Sales, Example: PS3
Second Level: This Platform has piracy, -1% of sales, Example: PS4
Third Level: This Platform Has Piracy, -3% of sales, Example: Super Nes
Fourth Level: This Platform Has Pîracy, -5% of sales, Example: PS2
Fifth Level: This Platform Has Piracy, -10% of sales

[2021-12-01 15:45] GianluPlay opened #738 "Suggestion: More GPU/CPU PS2 Power"
More CPU/GPU power for the ps2

[2021-12-01 17:55] GianluPlay opened #739 "Suggestion: Engine Features Cost Money"
Some Engine Features Cost Money. like Language System X GPU/CPU 30K Cost

[2021-12-16 15:58] GianluPlay opened #740 "Suggestion: New Type Of Component"
Storage Component

Power:
GPU Power, 0
CPU Power, 1 - 10
Storage, 0 - 10 TB

Cost:
Price, 4 - 15
Research Cost, 450 - 8500

[2021-12-22 11:33] xsellier commented on #738
Those have been balanced already. Closing.

[2021-12-22 11:33] #738 closed, assigned to xsellier

[2021-12-22 11:33] xsellier commented on #736
Implemented in v1.4.0

[2021-12-22 11:33] #736 closed, assigned to xsellier

[2021-12-26 11:13] icls1337 opened #742 "Suggestion: Plagiarism function (with other suggestions)"
Plagiarism function: You can also use the Plagiarism function to directly get a highly rated game that someone else has already designed and go through your own staff to create it, which can be rated higher than the copied game if the staff is of a high level. Of course copying games will have a strong negative after release and will require good operations staff.

Game Sales:After the game is rel

[2021-12-27 00:26] icls1337 commented on #588
+1

[2021-12-27 06:56] xsellier commented on #588
Press F5 to activate Cheatcodes.

[2021-12-27 17:18] GianluPlay commented on #742
Signed

[2021-12-31 11:38] IsmaMclovin opened #743 "Suggestion: Game Expansion"
Godo Morning and a very Happy New Year.
Steam just told me I spent 50 hours on this game, so I think it’s my biggest one this year and I love it. Truly is addictive for tycoon fans like me.

I wanted to thank you for it and suggest you a couple things which I think could improve the game if you plan on continuing updates.

I think what is missing for me at the moment (which is not much cause I lov

[2022-01-02 10:32] Steinertt opened #744 "Suggestion: Jeu en ligne sur Navigateur"
Dans les années 2000 environ, il y avait beaucoup de jeu par navigateur
Je pense que cela pourrait être fun de le faire apparaitre.

-Cela pourrait apparaitre avec les micro transaction
-la console pourrait être un Navigateur (donc pas de frais d acquisition)
-par contre, mise a jour obligatoire pour que cela continue de fonctionner

-une tres grosse limitation des technologies possible, et bien s

[2022-01-04 22:21] DeRiften opened #745 "Suggestion: Custom Computers"
You can create new consoles and handhelds, so it'd be neat if you could also enter the computer OS industry

[2022-01-06 14:50] xsellier commented on #547
Closing in favor of: https://github.com/binogure-studio/city-game-studio-i18n/issues/735

[2022-01-06 14:50] #547 closed, assigned to nobody

[2022-01-06 15:40] xsellier commented on #460
Regarding that specific suggestion, unversities and training have been implemented lately. It allows you to max out your staff. It is another way to implement that suggestion.

[2022-01-06 15:40] #460 closed, assigned to xsellier

[2022-01-12 23:25] GianluPlay opened #749 "Suggestion: More Mod Maker Features"
Can change the CPU/GPU of the consoles with the mod maker

[2022-01-13 08:16] xsellier commented on #749
Hey,

This won't be  implemented, CPU/GPU consoles are balanced atm.

[2022-01-13 08:16] #749 closed, assigned to xsellier

[2022-01-13 22:03] GianluPlay opened #750 "Suggestion: Research Department"
Function: Research Special Engine Features, Research Genre/Topic Combinations, Research Sliders Combinations, Platform Combinations

Mod Maker: Can unlock Engine Features that requires  the Research Department

Cost:
Special Engine Features: Cost 10.000 - 500.000
Genre/Topic Combinations: Cost 15.000 - 500.000
Sliders: Cost 9.500 - 60.000
Platform Combinations: Cost 10.000 - 100.000
Research Depar

[2022-01-13 22:13] GianluPlay opened #751 "Suggestion: Game Testing Department and Bugs"
Function: Fix Bugs, Add Polish Points

Cost:
Fix Bugs Free (salaries are not included)
Polish Points 25.000 Per Month (Salaries are not included)

[2022-01-14 08:02] xsellier commented on #750
Closing in favor of: https://github.com/binogure-studio/city-game-studio-i18n/issues/261

[2022-01-14 08:02] #750 closed, assigned to xsellier

[2022-01-14 08:08] xsellier commented on #692
~~Adding an OS development to City Game Studio is out of subject and won't bring anything new to the gameplay but unecessary complexity. Because to sell an OS you need to develop drivers, software applications and a lot of other stuff that is not required when you make your own video game console. There is not a single video game company that developed an OS from scratch without making its own har

[2022-01-14 15:48] GianluPlay commented on #750
What does mean that

[2022-01-14 15:58] xsellier commented on #750
Those tickets are talking about the very same feature, you can click on the link:
https://github.com/binogure-studio/city-game-studio-i18n/issues/261

[2022-01-14 19:30] xsellier commented on #692
I understand that you want to make OS in City Game Studio. And I want to make you happy guys, so I need your help to implement the feature in an elegant way. That's what I mean when I ask you what this feature bring to the gameplay.

- How to make an OS? (ie Does it require only Design point, or also Development points for example?)
- Should we be able to update an OS?
- How much developing an OS

[2022-01-16 15:33] Alagesia opened #752 "Suggestion: More difficulty options"
**Is your feature request related to a problem? Please describe.**
While trying to crack the "formula" of making a 100+ rated game, I noticed it would become harder to make a good AAA game with 100 devs while I had even more employees (as if the amount of studio's I had affected the difficulty to make good games).

**Describe the solution you'd like**
It would be nice to edit this difficulty param

[2022-01-26 23:01] GianluPlay opened #753 "Suggestion: New Cheat Code"
unlock all combinations/slider combinations

[2022-01-31 23:22] GianluPlay opened #754 "Suggestion: Console Features, R&D Department and Reviews for Custom Platforms"
(This can be a replacement for the OS Suggestion)

Console Features, R&D Department and Reviews for Custom Consoles

The Console Features are Researched in the R&D Department, this affects the Reviews for the Console

Example of Console Features: 2 Controllers Support ( X + Cost per Unit, Unlocked at 1982, Basic Feature), 4 Controllers Support ( XX + Cost per Unit, Unlocked at 1990, Basic Features

[2022-02-04 10:42] xsellier commented on #632
Something like that?
![image](https://user-images.githubusercontent.com/6616005/152515474-906240bf-04a2-470c-be72-1878dc52579c.png)

It's going to be part of the v1.6.0 update ;)

[2022-02-09 10:41] xsellier commented on #714
Closing this since it is already available in the upcoming v1.6.0 (unstable steam branch)

[2022-02-09 10:41] #714 closed, assigned to xsellier

[2022-02-09 10:42] xsellier commented on #740
Thank you for this suggestion.
It's going to be aprt of the v1.6.0 which is already available on the Unstable Steam branch. Closing it.

[2022-02-09 10:42] #740 closed, assigned to xsellier

[2022-02-09 10:42] xsellier commented on #664
Thank you for this suggestion.
It's going to be aprt of the v1.6.0 which is already available on the Unstable Steam branch. Closing it.

[2022-02-09 10:42] #664 closed, assigned to xsellier

[2022-02-09 10:42] #632 closed, assigned to xsellier

[2022-02-09 10:44] xsellier commented on #754
R&D: https://github.com/binogure-studio/city-game-studio-i18n/issues/261

[2022-02-09 10:45] xsellier commented on #377
Hey,

Thank you for this suggestion. DDoS attacks have been implemented in the v1.5.0.
Closing this.

[2022-02-09 10:45] #377 closed, assigned to xsellier

[2022-02-09 10:49] xsellier commented on #543
Hey,

Thank you for the suggestion, this has been implemented in v1.6.0, and is already available on the usntable steam branch.
closing this.

[2022-02-09 10:49] #543 closed, assigned to xsellier

[2022-02-10 12:24] xsellier commented on #688
Added to the usntable Steam branch, should be out on Steam the 21st February 2022.

[2022-02-10 12:24] #688 closed, assigned to xsellier

[2022-02-14 22:56] Le-Captain commented on #632
Awesome man! You just giving with this game!

[2022-02-18 00:29] GianluPlay opened #755 "Suggestion: Countries Update"
Simple, Can build Studios in different countries

[2022-02-18 00:32] GianluPlay opened #756 "Suggestion: Countries Update (Alternative 1)"
Can build Studios in different countries, also in hard difficult every country has different taxes (taxes are applied to games  and stocks)

[2022-02-18 00:39] GianluPlay opened #757 "Suggestion: Countries Update (Alternative 2)"
Can build Studios in different countries, every country and in some cases states has its own taxes, also you can choose for what countries is published your game (there is the option all countries too) and (maybe) every country has a modifier to the game sells (a game priced in 60 dollars are not gonna have to much units sold in venezuela), taxes and game/custom platform modifiers can be only in h

[2022-02-18 08:46] xsellier commented on #756
Looks like a duplicate of: https://github.com/binogure-studio/city-game-studio-i18n/issues/735
Closing

[2022-02-18 08:46] #756 closed, assigned to xsellier

[2022-02-18 08:46] xsellier commented on #757
Looks like a duplicate of: https://github.com/binogure-studio/city-game-studio-i18n/issues/735
Closing

[2022-02-18 08:46] #757 closed, assigned to xsellier

[2022-02-18 08:47] #755 closed, assigned to xsellier

[2022-02-18 08:47] #754 closed, assigned to xsellier

[2022-02-18 08:48] xsellier commented on #753
Closing in favor of:
https://github.com/binogure-studio/city-game-studio-i18n/issues/588

[2022-02-18 08:48] #753 closed, assigned to xsellier

[2022-02-18 18:54] GianluPlay commented on #757
I dont see the taxes or game sold units modifier in the #735 "Issue"

[2022-02-21 12:17] FoaxZed opened #759 "Suggestion: When creating a custom console in the Mod Maker, choose the preferred genres randomly."
I've been playing around with the mod maker, and when ever you try uploading a console, it will claim you need to have an excellent, good, ok or poor match with the game genre. Is there any chance this could be randomized? It's incredibly time consuming and would save people hours.

[2022-02-22 17:26] GianluPlay opened #760 "Suggestion: Mod maker: Edit platform and component"
Suggestion: Edit Engine Feature, Edit Platform, Edit Component

[2022-02-26 18:02] GianluPlay opened #761 "Reworked Suggestion: Pro Versions for Consoles"
Can make Pro Versions for Custom Platforms, when you are going to do a Pro Version for a Custom Platform you can choose a new GPU or/and a new CPU, same Case same Games same Controller same Screen, just more  GPU/CPU Power, the sales are like the DLCs (Also there is a Limit of 25 CPU/GPU Power that can be added)

Example of Sales: Frinktendo Games System 60 Millions Unit Sold, Frinktendo Games Sys

[2022-02-26 20:52] GianluPlay opened #762 "Suggestion: Console Features"
Suggestion: Add console features

Cost: 5K - 1 Mil per Feature

Cost (Development and Design Points): 15 - 5000 per feature

Short List Of Console Features: Online Games, Backward Compatibility, 2 Controller Support, 3 Controller Support, 4 Controller Support, 8 Controller Support, Reset Button, User Profiles, Friends, Crossplay, External HDDs/SSDs Support, Achievments, Bluetooth Support

Console

[2022-02-27 10:58] xsellier commented on #759
Hey,

Thank you for the suggestion, making genre random won't make it balanced I suppose. So instead of making it 100% random, it'd be better to get something more balanced.

For example if the Simulation genre is an excellent match, then all the _sub-genres_ of the Simulation tree would get a match from OK  to EXCELLENT.

If the Action genre is a POOR match, then all the _sub-genres_ of the Actio

[2022-02-27 11:00] xsellier commented on #762
Hey,

I woder, what's a Console Feature? Is it a game engine feature?

[2022-02-27 11:01] xsellier commented on #761
Closing this one because you already have opened a ticket regarding that specific topic.
Please, use the same ticket instead of opening a new one.
https://github.com/binogure-studio/city-game-studio-i18n/issues/693

[2022-02-27 11:01] #761 closed, assigned to xsellier

[2022-02-27 11:05] xsellier commented on #751
Hey,

* Does this feature request related to a specific problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

* Please describe all the alternatives you've considered for that specific problem.

Side note:
You may have noticed that I don't always reply to your suggestions. I'm sorry because I should have told you that I'd rather take my time to answ

[2022-02-27 11:06] xsellier commented on #739
Hey,

* Does this feature request related to a specific problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
* Please describe all the alternatives you've considered for that specific problem.

[2022-02-27 11:08] xsellier commented on #729
Since it is doable via mods, I won't push it to the game itself.
If  you want to add a new console case, then yo ucan create a new mod to add one, then load it to your sawegame. What's cool about it, is you can even share it via the Steam workshop, and be the cool kid making new console cases.

I'm gonna close this ticket since there is a viable alternative to do it.

[2022-02-27 11:08] #729 closed, assigned to nobody

[2022-02-27 11:09] xsellier commented on #737
Hey,

* Does this feature request related to a specific problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
* Please describe all the alternatives you've considered for that specific problem.

[2022-02-27 11:10] xsellier commented on #727
Hey,

* Does this feature request related to a specific problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
* Please describe all the alternatives you've considered for that specific problem.

[2022-02-27 11:10] xsellier commented on #717
Hey,

* Does this feature request related to a specific problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
* Please describe all the alternatives you've considered for that specific problem.

[2022-02-27 11:10] xsellier commented on #716
Hey,

* Does this feature request related to a specific problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
* Please describe all the alternatives you've considered for that specific problem.

[2022-02-27 11:11] xsellier commented on #709
This should be part of the v1.7.0 update.

[2022-02-27 11:12] xsellier commented on #760
Thank you for the suggestion, this should be part of the v1.7.0

[2022-02-27 15:55] GianluPlay commented on #762
Its an Engine Feature but for consoles

[2022-02-27 15:58] xsellier commented on #762
* Does this feature request related to a specific problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
* Please describe all the alternatives you've considered for that specific problem.

[2022-03-01 14:28] SickoonSeriesX opened #768 "Different Game Editions"
A feature where you can create Different Edition of Games Which includes those micro transactions for free like Deluxe Edition would be more expensive but includes more micro transactions for free

[2022-03-02 10:05] xsellier commented on #768
Please fill out this template:
[code]

[2022-03-05 17:39] GianluPlay opened #769 "Suggestion: Theme can be edited by mods"
**Is your feature request related to a problem? Please describe.**
Yes and no, we should have the possibility to Edit Genres and Themes in the Mod Maker

**Describe the solution you'd like**
Can Edit Themes and Genres

**Describe alternatives you've considered**
Mods Can Edit Themes

**Additional context**
This can be useful for a lot of users/modders, so it should be added someday

[2022-03-16 17:44] GianluPlay opened #772 "Suggestion: Console Makers can offer Game Developers an Exclusivity Contract for their Consoles"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Sometimes console manufacturers may offer the player an exclusivity contract for their consoles that would last for a certain number of months.

**Describe alternatives you've considered**
Sometimes console manufacturers may offer the player an exclusivity contract for their consoles that wo

[2022-03-16 17:49] GianluPlay opened #773 "Suggestion: Game Editions (Rework)"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Can launch a Definitive/Legendary/Special/Standard Edition for a Game

**Describe alternatives you've considered**
Can Launch a Definitive and Standard Edition

**Additional context**
A Definitive/Legendary/Special Edition does not have the same price of the Standard Edition, you can choose

[2022-03-16 17:51] GianluPlay commented on #693
Can make Pro Versions for Custom Platforms, when you are going to do a Pro Version for a Custom Platform you can choose a new GPU or/and a new CPU, same Case same Games same Controller same Screen, just more GPU/CPU Power, the sales are like the DLCs (Also there is a Limit of 25 CPU/GPU Power that can be added)

Example of Sales: Frinktendo Games System 60 Millions Unit Sold, Frinktendo Games Syst

[2022-03-22 11:33] xsellier commented on #769
Related ticked
https://github.com/binogure-studio/city-game-studio-i18n/issues/388

[2022-03-22 11:34] xsellier commented on #772
Thank yo ufor the suggestion, I'll link to this other tickets, both are related (one is in french sorry about that).
https://github.com/binogure-studio/city-game-studio-i18n/issues/553

[2022-03-23 19:02] GianluPlay commented on #769
How the heck that suggestion is related with this suggestion

[2022-03-24 07:41] xsellier commented on #769
1. Show more respect
2. Editing Themes and Adding themes is related indeed
3. "We should be able to edit themes" is not a valid reason for such features. If you think a vanilla theme is not right (balancing issue for example), please open a bug ticket saying so.

[2022-03-24 09:31] xsellier commented on #769
So I also need more details, do you what do you want to edit in themes?
- Icons?
- Match between genre / themes?

[2022-03-24 16:18] GianluPlay commented on #769
Can change the Genre/Theme combination, name of genre and theme,  points required for genre and maybe the Genre/Platform combination

[2022-03-24 16:56] xsellier commented on #769
Got you!

[2022-03-24 18:42] GianluPlay commented on #769
And maybe can change the Platform/"Audience" Combination (Off-Topic)

[2022-03-29 13:41] GianluPlay opened #774 "Suggestion: Competitors Games"
**Is your feature request related to a problem? Please describe.**
Yes, The mod maker should able the modders add IPs to Competitors

**Describe the solution you'd like**
Can "add" games to competitors, like "Game Name GTA, ID of company that will release game 75b5ad7d-cce0-4ca0-acdb-565fc36c0d52, Year 1997, Sales 3.000.000, Platform/s Playstation and PC, Able to port the game to other consoles Ye

[2022-04-04 16:07] GianluPlay opened #779 "Suggestion: Can add famous Developers in mod maker"
**Is your feature request related to a problem? Please describe.**
Yes, The mod maker should able the modders to add famous developers

**Describe the solution you'd like**
Can add Famous Developers, Example: Name Hideo Kojima, Design 50/100, Development 50/100, Polish 75/100

Can Rename Famous Developers

**Additional context**
Can add famous developers to the game

[2022-04-25 08:16] garbanzo-toast opened #787 "Suggestion: Mascots"
Similar to previous requests for merchandise ( #198 ), but think it would add an additional feeling of personal connection if you could have characters from popular games become mascots with their own fanbase. It could add additional mechanics as a studio to use the power of an IP/mascot to boost sales, sell merch, undercut competition etc.

If a game reaches some level of popularity, you could ha

[2022-04-28 17:19] NowayJ opened #789 "Suggestion: Add an option of IP and spin off game (like mad games tycoon 2 system)"
**Is your feature request related to a problem? Please describe.**
It's an upgrade suggestion

**Describe the solution you'd like**
Add the possibility to make spin off and to have an IP group of game. (Like Mario, Mario Kart, Mario Tennis) all in a same IP group.
Visualize and manage your IP, its popularity, number of game of the same IP sold, etc (Same system than Mad Games Tycoon 2) Maybe add a

[2022-04-29 07:56] garbanzo-toast opened #790 "Suggestion: Randomized Console Development"
Replayability suffers because of the predetermined progress of consoles, console manufacturers, and game markets.

Instead of console success being tied to real world videogame history, there could be new experiences in every game if there was a mode to play with organic console development and competition. Consoles might fail or succeed based on in-game market competition and players will have to

[2022-05-06 23:28] qwertydelle opened #792 "Suggestion: Esports for your games"
A cool feature for the game you could add is Esports for the games you create it. Something like how Valorant , CSGO, Fortnite and etc. It would be cool to see your games go from a small player base to a huge one with organizations competing with each other. This feature could also increase the life span of your game and if you dont update it once in a while it might die.

[2022-05-07 02:00] GianluPlay commented on #792
Fine suggestion

[2022-05-07 06:30] xsellier commented on #792
Hey,

Thank you for the suggestion. This one has already been made:
https://github.com/binogure-studio/city-game-studio-i18n/issues/319

Closing this one.

[2022-05-07 06:30] #792 closed, assigned to xsellier

[2022-05-22 18:01] GianluPlay opened #796 "Suggestion: Mods events can make a competitor be acquired by AI or by Player"
**Is your feature request related to a problem? Please describe.**
Yes, it would be cool to have a way to make events like "Action Buzzard is buyed by Mirconoft"

**Describe the solution you'd like**
Be able that X Competitor (Enter ID of the competitor) could be acquired by player or another Competitor by a Mod Event

**Describe alternatives you've considered**
Sorry, but i havent think on the an

[2022-05-22 18:14] GianluPlay opened #797 "Suggestion: In-Game Achievments"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
In-Game Achievements, the Steam achievements but In-Game, also mods can add In-Game Achievements like "Launch a Game with Name: X" or "Launch a Game with Score: X"

**Describe alternatives you've considered**
First alternative: Mods can add In-Game Achievements but there is no "Vanilla" In-G

[2022-05-22 19:47] xsellier commented on #796
So,creating an event that trigger a competitor to acquire another competitor.
Such stuff might re-balance the whole game, but why not.

[2022-05-22 19:48] xsellier commented on #797
So, such achievements has to be first validated by steam and require a steam partner account, so it cannot be added to the game.

[2022-05-22 19:48] #797 closed, assigned to xsellier

[2022-05-22 21:53] GianluPlay commented on #796
:D

[2022-05-29 18:30] xsellier commented on #646
Hey,

Thank you for the suggestion, I'm gonna take some time to explain what's happening and why it cannot be done.

First, you are right I'm using godot Engine 21, and with Godot Engine 2.1 you can define one resolution, then make scale, ie keep the same ratio ( https://docs.godotengine.org/en/2.1/learning/features/viewports/multiple_resolutions.html ) . There is no proper fullscreen option, even

[2022-05-30 07:32] xsellier commented on #646
So far, that's the result I got:
![image](https://user-images.githubusercontent.com/6616005/170940572-0876f9de-075c-489d-ab9b-d0646beeb621.png)

I still have some work to make it work:
![image](https://user-images.githubusercontent.com/6616005/170940680-ae54a679-5942-4902-a2b7-364e1a650443.png)

The UI has changed quite a bit since it is the very next update.

[2022-05-30 10:39] xsellier commented on #646
Still have some work to do (mini games) and a full test then I'll deliver to the default Steam branch:
![image](https://user-images.githubusercontent.com/6616005/170975349-97bc0639-ee6d-4c18-bcf4-f542eff78ed2.png)

[2022-05-30 16:53] xsellier commented on #646
So, I've been working on this feature and I have a good news, it is now available on the steam unstable bracnch since v1.8.0-rc5.

feel free to try it out.
Meanwhile I'm closing this issue, it should be available on the default branch by 3rd of June 2022.

[2022-05-30 16:53] #646 closed, assigned to xsellier

[2022-06-08 01:32] JustYourAverageGithubUser opened #798 "Suggestion: Some visual tweaks to make the game more accessible."
**Is your feature request related to a problem? Please describe.**
I am visually impaired and have extreme light sensitivity. I find that a lot of the text (especially the white text on the blue background) to be exceptionally hard to read.

I also have a difficult time keeping track of the information at the bottom of the screen, especially the money counter.

**Describe the solution you'd like**

[2022-06-10 17:29] AshtakaOOf opened #800 "Suggestion: Arcade Machines"
**Is your feature request related to a problem? Please describe.**
You can’t publish your game on Arcade Machines.

**Describe the solution you'd like**
I want Arcade Machines to be added in a the game.

**Describe alternatives you've considered**
I have no other idea.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-06-15 10:06] JPITH opened #802 "Suggestion: Server"
Can we have a type of server like peer to peer server and normal server

[2022-06-15 11:25] xsellier commented on #802
Peer to peer doesn't require a server, but for NATing, and normal servers are already available in game.

But adding peer-to-peer games is an interesting idea tho

[2022-06-15 14:40] JPITH commented on #802
it will be cool to add peer to peer games

[2022-06-15 14:40] JPITH commented on #802
and can't we add game logo or image

[2022-06-15 15:09] xsellier commented on #802
It's one suggestion per ticket, and it's alwaysbetter to use the feature template if you want anything to get added to the game:
[code]

[2022-06-15 15:15] #802 closed, assigned to xsellier

[2022-06-16 10:42] JPITH opened #803 "Suggestion: Multiplayer"
**Is your feature request related to a problem? Please describe.**
Is not related to a problem

**Describe the solution you'd like**
The game already have multiplayer game or online game

**Describe alternatives you've considered**
But why not have the development of a online version of  your game while is selling so like update with (online pack)

**Additional context**
Add any other context or s

[2022-06-20 00:07] GianluPlay opened #804 "Mod Maker Suggestion: Engine Features "Sons""
**Is your feature request related to a problem? Please describe.**
Yes, we should be able to make a "parent" for an Engine Feature that its in the vanilla game

**Describe the solution you'd like**
Can make a "parent" for a Vanilla Engine Feature. Example: Ancient Save, Child: (insert basic saves engine feature id)

**Describe alternatives you've considered**
There are no alternatives

**Additiona

[2022-06-24 15:11] xsellier commented on #588
Closing since it's been added to the game.

[2022-06-24 15:11] #588 closed, assigned to xsellier

[2022-06-27 14:34] donimuzur opened #805 "Suggestion: please add complete instant build game in console cheat"
**Is your feature request related to a problem? Please describe.**
yes, when making a new AAA game with max slider it needed a long time to finish.

**Describe the solution you'd like**
add console cheat to finish in instant

**Additional context**
just add cheat in a console to finish the game making in an instant just like "game-engine complete" in console

[2022-06-27 17:22] xsellier commented on #805
Neat suggestion. Should be part of the next update.

[2022-06-28 01:13] donimuzur commented on #805
nice.. cant wait

[2022-06-28 02:12] zhyted opened #806 "Suggestion: Apply Devkits to all competitors"
**Is your feature request related to a problem? Please describe.**
It takes a long time especially with mods to apply devkits to all the competitors when making a console.

**Describe the solution you'd like**
add a button that says "apply devkits to all concurrents"

**Describe alternatives you've considered**
not really anything else. just add a button that applies the devkits to all the competi

[2022-06-28 07:55] xsellier commented on #805
Closing since it should be available later today with v1.9.0-rc3 on the usntable steam branch:
![image](https://user-images.githubusercontent.com/6616005/176125018-0e5a9ac7-77a4-4588-9e13-593523725d1a.png)

[2022-06-28 07:55] #805 closed, assigned to xsellier

[2022-06-28 07:58] #768 closed, assigned to xsellier

[2022-06-28 08:00] xsellier commented on #709
Already part of the game. Closing

[2022-06-28 08:00] #709 closed, assigned to xsellier

[2022-06-28 08:02] xsellier commented on #386
Already part of the game. Closing

[2022-06-28 08:02] #386 closed, assigned to xsellier

[2022-06-28 08:03] #468 closed, assigned to xsellier

[2022-06-28 08:06] xsellier commented on #639
It's been added o the game in v1.7.0 I think:
![image](https://user-images.githubusercontent.com/6616005/176127423-0b233521-272f-45d5-a3f2-67b5a62614b7.png)

[2022-06-28 08:06] #639 closed, assigned to xsellier

[2022-06-28 08:07] xsellier commented on #760
Only remains the edit engine feature, you can edit platforms and components.

[2022-06-28 08:10] xsellier commented on #762
Since this issue doesn't fit the issue template, nor explains how or why it enhance the gameplay, I'm closing it.

[2022-06-28 08:11] #762 closed, assigned to xsellier